USE [school_lifeBD]
GO
/****** Object:  Table [dbo].[administradores]    Script Date: 24-04-2024 19:14:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[administradores](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[rut] [varchar](13) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[apaterno] [varchar](50) NOT NULL,
	[amaterno] [varchar](50) NOT NULL,
	[correo] [varchar](50) NOT NULL,
	[telefono] [varchar](12) NOT NULL,
	[estado] [varchar](50) NOT NULL,
	[id_colegio] [int] NOT NULL,
	[id_login] [int] NOT NULL,
 CONSTRAINT [PK_administrador] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[apoderados]    Script Date: 24-04-2024 19:14:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[apoderados](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[rut] [varchar](13) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[apaterno] [varchar](50) NOT NULL,
	[amaterno] [varchar](50) NOT NULL,
	[direccion] [varchar](250) NOT NULL,
	[correo] [varchar](50) NOT NULL,
	[telefono] [varchar](12) NOT NULL,
	[estado] [varchar](50) NOT NULL,
	[id_estudiante] [int] NOT NULL,
 CONSTRAINT [PK_apoderados] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[asignaturas]    Script Date: 24-04-2024 19:14:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[asignaturas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[hora_inicio] [datetime] NOT NULL,
	[hora_termino] [datetime] NOT NULL,
	[descripcion] [varchar](250) NULL,
	[id_profesor] [int] NOT NULL,
 CONSTRAINT [PK_asignaturas] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[asistencia]    Script Date: 24-04-2024 19:14:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[asistencia](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [date] NOT NULL,
	[estado] [varchar](50) NOT NULL,
	[descripcion] [varchar](250) NULL,
	[id_estudiante] [int] NOT NULL,
	[id_asignatura] [int] NOT NULL,
 CONSTRAINT [PK_asistencia] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[colegios]    Script Date: 24-04-2024 19:14:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[colegios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[rbd] [int] NOT NULL,
	[direccion] [varchar](250) NOT NULL,
	[telefono] [varchar](12) NOT NULL,
	[descripcion] [varchar](250) NULL,
	[correo] [varchar](50) NOT NULL,
 CONSTRAINT [PK_colegios] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cursos]    Script Date: 24-04-2024 19:14:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cursos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[grado] [varchar](50) NOT NULL,
	[seccion] [char](10) NOT NULL,
	[cantidad] [int] NOT NULL,
	[cantidad_max] [int] NOT NULL,
	[cantidad_min] [int] NOT NULL,
	[estado] [varchar](50) NOT NULL,
	[id_colegio] [int] NOT NULL,
	[id_profesor_jefe] [int] NOT NULL,
 CONSTRAINT [PK_cursos] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[estudiantes]    Script Date: 24-04-2024 19:14:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[estudiantes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[rut] [varchar](13) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[apaterno] [varchar](50) NOT NULL,
	[amaterno] [varchar](50) NOT NULL,
	[fecha_nacimiento] [date] NOT NULL,
	[edad] [int] NOT NULL,
	[direccion] [varchar](250) NOT NULL,
	[telefono] [varchar](12) NOT NULL,
	[correo] [varchar](50) NOT NULL,
	[estado] [varchar](50) NOT NULL,
	[id_colegio] [int] NOT NULL,
	[id_login] [int] NOT NULL,
	[id_curso] [int] NOT NULL,
 CONSTRAINT [PK_estudiante] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[login]    Script Date: 24-04-2024 19:14:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[login](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
 CONSTRAINT [PK_login] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[matriculas]    Script Date: 24-04-2024 19:14:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[matriculas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fecha_matricula] [date] NOT NULL,
	[descripcion] [varchar](250) NULL,
	[estado] [varchar](50) NOT NULL,
	[id_estudiante] [int] NOT NULL,
	[id_colegio] [int] NOT NULL,
 CONSTRAINT [PK_matriculas] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[profesores]    Script Date: 24-04-2024 19:14:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[profesores](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[apaterno] [varchar](50) NOT NULL,
	[amaterno] [varchar](50) NOT NULL,
	[fecha_nacimiento] [date] NOT NULL,
	[edad] [int] NOT NULL,
	[rut] [varchar](13) NOT NULL,
	[especialidad] [varchar](50) NOT NULL,
	[correo] [varchar](50) NOT NULL,
	[telefono] [varchar](12) NOT NULL,
	[id_colegio] [int] NOT NULL,
	[id_login] [int] NOT NULL,
	[estado] [varchar](50) NOT NULL,
 CONSTRAINT [PK_profesores] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[registro_conexiones]    Script Date: 24-04-2024 19:14:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[registro_conexiones](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](500) NOT NULL,
	[fecha] [date] NOT NULL,
 CONSTRAINT [PK_registro_conexiones] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[apoderados] ON 

INSERT [dbo].[apoderados] ([id], [rut], [nombre], [apaterno], [amaterno], [direccion], [correo], [telefono], [estado], [id_estudiante]) VALUES (4, N'10355678-1', N'Francisco', N'Durán', N'Ruiz', N'avda 108 Concepción', N'duranr@info.cl', N'987665588', N'activo', 1)
INSERT [dbo].[apoderados] ([id], [rut], [nombre], [apaterno], [amaterno], [direccion], [correo], [telefono], [estado], [id_estudiante]) VALUES (5, N'18774343-2', N'María', N'zepeda', N'Martínoli', N'Floresta Hualpén', N'mariazep@info.cl', N'989665544', N'activo', 5)
INSERT [dbo].[apoderados] ([id], [rut], [nombre], [apaterno], [amaterno], [direccion], [correo], [telefono], [estado], [id_estudiante]) VALUES (6, N'17861755-0', N'Johani', N'Soto', N'Escobar', N'Floresta Hualpén', N'johaniso@info.cl', N'988778877', N'activo', 7)
SET IDENTITY_INSERT [dbo].[apoderados] OFF
GO
SET IDENTITY_INSERT [dbo].[asignaturas] ON 

INSERT [dbo].[asignaturas] ([id], [nombre], [hora_inicio], [hora_termino], [descripcion], [id_profesor]) VALUES (1, N'Matemáticas ', CAST(N'2024-04-24T08:10:00.000' AS DateTime), CAST(N'2024-04-24T10:30:00.000' AS DateTime), N'Matematicas', 1)
INSERT [dbo].[asignaturas] ([id], [nombre], [hora_inicio], [hora_termino], [descripcion], [id_profesor]) VALUES (2, N'Lenguaje y Comunicación', CAST(N'2024-04-24T11:10:00.000' AS DateTime), CAST(N'2024-04-24T12:00:00.000' AS DateTime), N'Lenguaje y Comunicación', 2)
SET IDENTITY_INSERT [dbo].[asignaturas] OFF
GO
SET IDENTITY_INSERT [dbo].[asistencia] ON 

INSERT [dbo].[asistencia] ([id], [fecha], [estado], [descripcion], [id_estudiante], [id_asignatura]) VALUES (1, CAST(N'2024-04-23' AS Date), N'presente', N'presente', 1, 1)
INSERT [dbo].[asistencia] ([id], [fecha], [estado], [descripcion], [id_estudiante], [id_asignatura]) VALUES (2, CAST(N'2024-04-24' AS Date), N'presente', N'presente', 1, 1)
INSERT [dbo].[asistencia] ([id], [fecha], [estado], [descripcion], [id_estudiante], [id_asignatura]) VALUES (4, CAST(N'2024-04-24' AS Date), N'ausente', N'ausente', 5, 1)
SET IDENTITY_INSERT [dbo].[asistencia] OFF
GO
SET IDENTITY_INSERT [dbo].[colegios] ON 

INSERT [dbo].[colegios] ([id], [nombre], [rbd], [direccion], [telefono], [descripcion], [correo]) VALUES (1, N'Colegio Cristóbal Colón', 798, N'Hualpén 66', N'987546721', N'Colegio de Daem Hualpén', N'cristobalcoloncolegio@info.cl')
SET IDENTITY_INSERT [dbo].[colegios] OFF
GO
SET IDENTITY_INSERT [dbo].[cursos] ON 

INSERT [dbo].[cursos] ([id], [grado], [seccion], [cantidad], [cantidad_max], [cantidad_min], [estado], [id_colegio], [id_profesor_jefe]) VALUES (1, N'Tercero', N'B         ', 30, 45, 20, N'activo', 1, 1)
INSERT [dbo].[cursos] ([id], [grado], [seccion], [cantidad], [cantidad_max], [cantidad_min], [estado], [id_colegio], [id_profesor_jefe]) VALUES (2, N'Cuarto', N'C         ', 35, 45, 20, N'activo', 1, 2)
SET IDENTITY_INSERT [dbo].[cursos] OFF
GO
SET IDENTITY_INSERT [dbo].[estudiantes] ON 

INSERT [dbo].[estudiantes] ([id], [rut], [nombre], [apaterno], [amaterno], [fecha_nacimiento], [edad], [direccion], [telefono], [correo], [estado], [id_colegio], [id_login], [id_curso]) VALUES (1, N'23444555-1', N'Bairon', N'Martínez', N'Morelio', CAST(N'2014-10-03' AS Date), 10, N'Floresta Hualpén', N'958432211', N'bairon@info.cl', N'activo', 1, 5, 1)
INSERT [dbo].[estudiantes] ([id], [rut], [nombre], [apaterno], [amaterno], [fecha_nacimiento], [edad], [direccion], [telefono], [correo], [estado], [id_colegio], [id_login], [id_curso]) VALUES (5, N'22888666-8', N'Elvis', N'Crespo', N'Delgado', CAST(N'2014-10-10' AS Date), 10, N'Floresta Hualpén', N'986756766', N'elviscres@info.cl', N'activo', 1, 8, 1)
INSERT [dbo].[estudiantes] ([id], [rut], [nombre], [apaterno], [amaterno], [fecha_nacimiento], [edad], [direccion], [telefono], [correo], [estado], [id_colegio], [id_login], [id_curso]) VALUES (7, N'22333555444-2', N'Omar', N'Picunche', N'Soto', CAST(N'2014-10-10' AS Date), 10, N'Floresta Hualpén', N'988776676', N'omarpic@info.cl', N'activo', 1, 10, 1)
SET IDENTITY_INSERT [dbo].[estudiantes] OFF
GO
SET IDENTITY_INSERT [dbo].[login] ON 

INSERT [dbo].[login] ([id], [username], [password]) VALUES (1, N'martin', N'1234')
INSERT [dbo].[login] ([id], [username], [password]) VALUES (2, N'jordan', N'1234')
INSERT [dbo].[login] ([id], [username], [password]) VALUES (3, N'valentina', N'1234')
SET IDENTITY_INSERT [dbo].[login] OFF
GO
SET IDENTITY_INSERT [dbo].[profesores] ON 

INSERT [dbo].[profesores] ([id], [nombre], [apaterno], [amaterno], [fecha_nacimiento], [edad], [rut], [especialidad], [correo], [telefono], [id_colegio], [id_login], [estado]) VALUES (1, N'Luis', N'Navarrete', N'Muñoz', CAST(N'1996-10-10' AS Date), 30, N'18465789-2', N'Matemáticas', N'luisnav@info.cl', N'987675412', 1, 4, N'activo')
INSERT [dbo].[profesores] ([id], [nombre], [apaterno], [amaterno], [fecha_nacimiento], [edad], [rut], [especialidad], [correo], [telefono], [id_colegio], [id_login], [estado]) VALUES (2, N'Martin', N'Reyes', N'Pereira', CAST(N'1990-10-10' AS Date), 33, N'18656576''5', N'Lenguaje y Comunicación', N'martinre@info.cl', N'977546578', 1, 1, N'activo')
SET IDENTITY_INSERT [dbo].[profesores] OFF
GO
ALTER TABLE [dbo].[administradores]  WITH CHECK ADD  CONSTRAINT [FK_administradores_colegio] FOREIGN KEY([id_colegio])
REFERENCES [dbo].[colegios] ([id])
GO
ALTER TABLE [dbo].[administradores] CHECK CONSTRAINT [FK_administradores_colegio]
GO
ALTER TABLE [dbo].[administradores]  WITH CHECK ADD  CONSTRAINT [FK_administradores_login] FOREIGN KEY([id_login])
REFERENCES [dbo].[login] ([id])
GO
ALTER TABLE [dbo].[administradores] CHECK CONSTRAINT [FK_administradores_login]
GO
ALTER TABLE [dbo].[apoderados]  WITH CHECK ADD  CONSTRAINT [FK_apoderados_estudiante] FOREIGN KEY([id_estudiante])
REFERENCES [dbo].[estudiantes] ([id])
GO
ALTER TABLE [dbo].[apoderados] CHECK CONSTRAINT [FK_apoderados_estudiante]
GO
ALTER TABLE [dbo].[asignaturas]  WITH CHECK ADD  CONSTRAINT [FK_asignaturas_profesor] FOREIGN KEY([id_profesor])
REFERENCES [dbo].[profesores] ([id])
GO
ALTER TABLE [dbo].[asignaturas] CHECK CONSTRAINT [FK_asignaturas_profesor]
GO
ALTER TABLE [dbo].[asistencia]  WITH CHECK ADD  CONSTRAINT [FK_asistencia_asignatura] FOREIGN KEY([id_asignatura])
REFERENCES [dbo].[asignaturas] ([id])
GO
ALTER TABLE [dbo].[asistencia] CHECK CONSTRAINT [FK_asistencia_asignatura]
GO
ALTER TABLE [dbo].[asistencia]  WITH CHECK ADD  CONSTRAINT [FK_asistencia_estudiante] FOREIGN KEY([id_estudiante])
REFERENCES [dbo].[estudiantes] ([id])
GO
ALTER TABLE [dbo].[asistencia] CHECK CONSTRAINT [FK_asistencia_estudiante]
GO
ALTER TABLE [dbo].[cursos]  WITH CHECK ADD  CONSTRAINT [FK_cursos_colegio] FOREIGN KEY([id_colegio])
REFERENCES [dbo].[colegios] ([id])
GO
ALTER TABLE [dbo].[cursos] CHECK CONSTRAINT [FK_cursos_colegio]
GO
ALTER TABLE [dbo].[cursos]  WITH CHECK ADD  CONSTRAINT [FK_cursos_profesor_jefe] FOREIGN KEY([id_profesor_jefe])
REFERENCES [dbo].[profesores] ([id])
GO
ALTER TABLE [dbo].[cursos] CHECK CONSTRAINT [FK_cursos_profesor_jefe]
GO
ALTER TABLE [dbo].[estudiantes]  WITH CHECK ADD  CONSTRAINT [FK_estudiantes_colegio] FOREIGN KEY([id_colegio])
REFERENCES [dbo].[colegios] ([id])
GO
ALTER TABLE [dbo].[estudiantes] CHECK CONSTRAINT [FK_estudiantes_colegio]
GO
ALTER TABLE [dbo].[estudiantes]  WITH CHECK ADD  CONSTRAINT [FK_estudiantes_curso] FOREIGN KEY([id_curso])
REFERENCES [dbo].[cursos] ([id])
GO
ALTER TABLE [dbo].[estudiantes] CHECK CONSTRAINT [FK_estudiantes_curso]
GO
ALTER TABLE [dbo].[estudiantes]  WITH CHECK ADD  CONSTRAINT [FK_estudiantes_login] FOREIGN KEY([id_colegio])
REFERENCES [dbo].[login] ([id])
GO
ALTER TABLE [dbo].[estudiantes] CHECK CONSTRAINT [FK_estudiantes_login]
GO
ALTER TABLE [dbo].[matriculas]  WITH CHECK ADD  CONSTRAINT [FK_matriculas_colegios] FOREIGN KEY([id_colegio])
REFERENCES [dbo].[colegios] ([id])
GO
ALTER TABLE [dbo].[matriculas] CHECK CONSTRAINT [FK_matriculas_colegios]
GO
ALTER TABLE [dbo].[matriculas]  WITH CHECK ADD  CONSTRAINT [FK_matriculas_estudiante] FOREIGN KEY([id_estudiante])
REFERENCES [dbo].[estudiantes] ([id])
GO
ALTER TABLE [dbo].[matriculas] CHECK CONSTRAINT [FK_matriculas_estudiante]
GO
ALTER TABLE [dbo].[profesores]  WITH CHECK ADD  CONSTRAINT [FK_profesores_colegio] FOREIGN KEY([id_colegio])
REFERENCES [dbo].[colegios] ([id])
GO
ALTER TABLE [dbo].[profesores] CHECK CONSTRAINT [FK_profesores_colegio]
GO
ALTER TABLE [dbo].[profesores]  WITH CHECK ADD  CONSTRAINT [FK_profesores_login] FOREIGN KEY([id_login])
REFERENCES [dbo].[login] ([id])
GO
ALTER TABLE [dbo].[profesores] CHECK CONSTRAINT [FK_profesores_login]
GO
