USE [master]
GO
/****** Object:  Database [school_life]    Script Date: 21-04-2024 19:12:02 ******/
CREATE DATABASE [school_life]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'school_life', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\school_life.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'school_life_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\school_life_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [school_life].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [school_life]
GO
/****** Object:  Table [dbo].[administradores]    Script Date: 21-04-2024 19:12:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[administradores](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[rut] [varchar](13) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[apaterno] [varchar](50) NOT NULL,
	[amaterno] [varchar](50) NOT NULL,
	[correo] [varchar](50) NOT NULL,
	[telefono] [varchar](12) NOT NULL,
	[estado] [varchar](50) NOT NULL,
	[id_colegio] [int] NOT NULL,
	[id_login] [int] NOT NULL,
 CONSTRAINT [PK_administrador] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[apoderados]    Script Date: 21-04-2024 19:12:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[apoderados](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[rut] [varchar](13) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[apaterno] [varchar](50) NOT NULL,
	[amaterno] [varchar](50) NOT NULL,
	[direccion] [varchar](250) NOT NULL,
	[correo] [varchar](50) NOT NULL,
	[telefono] [varchar](12) NOT NULL,
	[estado] [varchar](50) NOT NULL,
	[id_estudiante] [int] NOT NULL,
 CONSTRAINT [PK_apoderados] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[asignaturas]    Script Date: 21-04-2024 19:12:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[asignaturas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[hora_inicio] [datetime] NOT NULL,
	[hora_termino] [datetime] NOT NULL,
	[descripcion] [varchar](250) NULL,
 CONSTRAINT [PK_asignaturas] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[asistencia]    Script Date: 21-04-2024 19:12:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[asistencia](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_registro_asignaturas] [int] NOT NULL,
	[fecha] [date] NOT NULL,
	[estado] [varchar](50) NOT NULL,
	[descripcion] [varchar](250) NULL,
 CONSTRAINT [PK_asistencia] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[colegios]    Script Date: 21-04-2024 19:12:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[colegios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[rbd] [int] NOT NULL,
	[direccion] [varchar](250) NOT NULL,
	[telefono] [varchar](12) NOT NULL,
	[descripcion] [varchar](250) NULL,
	[correo] [varchar](50) NOT NULL,
 CONSTRAINT [PK_colegios] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cursos]    Script Date: 21-04-2024 19:12:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cursos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[seccion] [char](10) NOT NULL,
	[cantidad] [int] NOT NULL,
	[cantidad_max] [int] NOT NULL,
	[cantidad_min] [int] NOT NULL,
	[estado] [varchar](50) NOT NULL,
	[id_colegio] [int] NOT NULL,
	[id_profesor_jefe] [int] NOT NULL,
 CONSTRAINT [PK_cursos] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[estudiantes]    Script Date: 21-04-2024 19:12:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[estudiantes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[rut] [varchar](13) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[apaterno] [varchar](50) NOT NULL,
	[amaterno] [varchar](50) NOT NULL,
	[direccion] [varchar](250) NOT NULL,
	[telefono] [varchar](12) NOT NULL,
	[correo] [varchar](50) NOT NULL,
	[estado] [varchar](50) NOT NULL,
	[id_colegio] [int] NOT NULL,
	[id_login] [int] NOT NULL,
	[id_curso] [int] NOT NULL,
 CONSTRAINT [PK_estudiante] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[login]    Script Date: 21-04-2024 19:12:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[login](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
 CONSTRAINT [PK_login] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[matriculas]    Script Date: 21-04-2024 19:12:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[matriculas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](250) NULL,
	[estado] [varchar](50) NOT NULL,
	[id_estudiante] [int] NOT NULL,
	[id_apoderado] [int] NOT NULL,
	[id_colegio] [int] NOT NULL,
 CONSTRAINT [PK_matriculas] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[profesores]    Script Date: 21-04-2024 19:12:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[profesores](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[apaterno] [varchar](50) NOT NULL,
	[amaterno] [varchar](50) NOT NULL,
	[rut] [varchar](13) NOT NULL,
	[especialidad] [varchar](50) NOT NULL,
	[correo] [varchar](50) NOT NULL,
	[telefono] [varchar](12) NOT NULL,
	[id_colegio] [int] NOT NULL,
	[id_login] [int] NOT NULL,
	[estado] [varchar](50) NOT NULL,
 CONSTRAINT [PK_profesores] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[registro_asignaturas]    Script Date: 21-04-2024 19:12:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[registro_asignaturas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_profesor] [int] NOT NULL,
	[id_estudiante] [int] NOT NULL,
	[id_curso] [int] NOT NULL,
	[id_asignatura] [int] NOT NULL,
	[descripcion] [varchar](250) NULL,
 CONSTRAINT [PK_registro_asignaturas] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[registro_conexiones]    Script Date: 21-04-2024 19:12:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[registro_conexiones](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](500) NOT NULL,
	[fecha] [date] NOT NULL,
 CONSTRAINT [PK_registro_conexiones] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[registro_cursos]    Script Date: 21-04-2024 19:12:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[registro_cursos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_curso] [int] NOT NULL,
	[descripcion] [varchar](250) NOT NULL,
	[id_profesor] [int] NOT NULL,
 CONSTRAINT [PK_registro_curso] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[administradores]  WITH CHECK ADD  CONSTRAINT [FK_admin_colegio] FOREIGN KEY([id_colegio])
REFERENCES [dbo].[colegios] ([id])
GO
ALTER TABLE [dbo].[administradores] CHECK CONSTRAINT [FK_admin_colegio]
GO
ALTER TABLE [dbo].[administradores]  WITH CHECK ADD  CONSTRAINT [FK_admin_login] FOREIGN KEY([id_login])
REFERENCES [dbo].[login] ([id])
GO
ALTER TABLE [dbo].[administradores] CHECK CONSTRAINT [FK_admin_login]
GO
ALTER TABLE [dbo].[apoderados]  WITH CHECK ADD  CONSTRAINT [FK_apoderado_estudiante] FOREIGN KEY([id_estudiante])
REFERENCES [dbo].[estudiantes] ([id])
GO
ALTER TABLE [dbo].[apoderados] CHECK CONSTRAINT [FK_apoderado_estudiante]
GO
ALTER TABLE [dbo].[asistencia]  WITH CHECK ADD  CONSTRAINT [FK_asistencia_regas] FOREIGN KEY([id_registro_asignaturas])
REFERENCES [dbo].[registro_asignaturas] ([id])
GO
ALTER TABLE [dbo].[asistencia] CHECK CONSTRAINT [FK_asistencia_regas]
GO
ALTER TABLE [dbo].[cursos]  WITH CHECK ADD  CONSTRAINT [FK_curso_colegio] FOREIGN KEY([id_colegio])
REFERENCES [dbo].[colegios] ([id])
GO
ALTER TABLE [dbo].[cursos] CHECK CONSTRAINT [FK_curso_colegio]
GO
ALTER TABLE [dbo].[cursos]  WITH CHECK ADD  CONSTRAINT [FK_cursos_profejefe] FOREIGN KEY([id_profesor_jefe])
REFERENCES [dbo].[profesores] ([id])
GO
ALTER TABLE [dbo].[cursos] CHECK CONSTRAINT [FK_cursos_profejefe]
GO
ALTER TABLE [dbo].[estudiantes]  WITH CHECK ADD  CONSTRAINT [FK_estudiante_colegio] FOREIGN KEY([id_colegio])
REFERENCES [dbo].[colegios] ([id])
GO
ALTER TABLE [dbo].[estudiantes] CHECK CONSTRAINT [FK_estudiante_colegio]
GO
ALTER TABLE [dbo].[estudiantes]  WITH CHECK ADD  CONSTRAINT [FK_estudiante_login] FOREIGN KEY([id_login])
REFERENCES [dbo].[login] ([id])
GO
ALTER TABLE [dbo].[estudiantes] CHECK CONSTRAINT [FK_estudiante_login]
GO
ALTER TABLE [dbo].[estudiantes]  WITH CHECK ADD  CONSTRAINT [FK_estudiantes_curso] FOREIGN KEY([id_curso])
REFERENCES [dbo].[cursos] ([id])
GO
ALTER TABLE [dbo].[estudiantes] CHECK CONSTRAINT [FK_estudiantes_curso]
GO
ALTER TABLE [dbo].[matriculas]  WITH CHECK ADD  CONSTRAINT [FK_matricula_apoderado] FOREIGN KEY([id_apoderado])
REFERENCES [dbo].[apoderados] ([id])
GO
ALTER TABLE [dbo].[matriculas] CHECK CONSTRAINT [FK_matricula_apoderado]
GO
ALTER TABLE [dbo].[matriculas]  WITH CHECK ADD  CONSTRAINT [FK_matricula_colegio] FOREIGN KEY([id_colegio])
REFERENCES [dbo].[colegios] ([id])
GO
ALTER TABLE [dbo].[matriculas] CHECK CONSTRAINT [FK_matricula_colegio]
GO
ALTER TABLE [dbo].[matriculas]  WITH CHECK ADD  CONSTRAINT [FK_matricula_estudiante] FOREIGN KEY([id_estudiante])
REFERENCES [dbo].[estudiantes] ([id])
GO
ALTER TABLE [dbo].[matriculas] CHECK CONSTRAINT [FK_matricula_estudiante]
GO
ALTER TABLE [dbo].[profesores]  WITH CHECK ADD  CONSTRAINT [FK_profesor_colegio] FOREIGN KEY([id_colegio])
REFERENCES [dbo].[colegios] ([id])
GO
ALTER TABLE [dbo].[profesores] CHECK CONSTRAINT [FK_profesor_colegio]
GO
ALTER TABLE [dbo].[profesores]  WITH CHECK ADD  CONSTRAINT [FK_profesor_registro] FOREIGN KEY([id_login])
REFERENCES [dbo].[login] ([id])
GO
ALTER TABLE [dbo].[profesores] CHECK CONSTRAINT [FK_profesor_registro]
GO
ALTER TABLE [dbo].[registro_asignaturas]  WITH CHECK ADD  CONSTRAINT [FK_regas_asignaturas] FOREIGN KEY([id_asignatura])
REFERENCES [dbo].[asignaturas] ([id])
GO
ALTER TABLE [dbo].[registro_asignaturas] CHECK CONSTRAINT [FK_regas_asignaturas]
GO
ALTER TABLE [dbo].[registro_asignaturas]  WITH CHECK ADD  CONSTRAINT [FK_regas_curso] FOREIGN KEY([id_curso])
REFERENCES [dbo].[cursos] ([id])
GO
ALTER TABLE [dbo].[registro_asignaturas] CHECK CONSTRAINT [FK_regas_curso]
GO
ALTER TABLE [dbo].[registro_asignaturas]  WITH CHECK ADD  CONSTRAINT [FK_regas_estudiante] FOREIGN KEY([id_estudiante])
REFERENCES [dbo].[estudiantes] ([id])
GO
ALTER TABLE [dbo].[registro_asignaturas] CHECK CONSTRAINT [FK_regas_estudiante]
GO
ALTER TABLE [dbo].[registro_asignaturas]  WITH CHECK ADD  CONSTRAINT [FK_regas_profesor] FOREIGN KEY([id_profesor])
REFERENCES [dbo].[profesores] ([id])
GO
ALTER TABLE [dbo].[registro_asignaturas] CHECK CONSTRAINT [FK_regas_profesor]
GO
ALTER TABLE [dbo].[registro_cursos]  WITH CHECK ADD  CONSTRAINT [FK_curso_profesor] FOREIGN KEY([id_profesor])
REFERENCES [dbo].[profesores] ([id])
GO
ALTER TABLE [dbo].[registro_cursos] CHECK CONSTRAINT [FK_curso_profesor]
GO
ALTER TABLE [dbo].[registro_cursos]  WITH CHECK ADD  CONSTRAINT [FK_regc_curso] FOREIGN KEY([id_curso])
REFERENCES [dbo].[cursos] ([id])
GO
ALTER TABLE [dbo].[registro_cursos] CHECK CONSTRAINT [FK_regc_curso]
GO
USE [master]
GO
