<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Libro de clases virtual School Life</title>
<link href="/css/Style.css" rel="stylesheet" type="text/css"
	crossorigin="anonymous" />
<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css"
	crossorigin="anonymous" />
<link href="/css/sidebars.css" rel="stylesheet" type="text/css"
	crossorigin="anonymous" />
<script type="text/javascript" src="/js/Script.js"></script>
<script type="text/javascript" src="/js/sidebars.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
	integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>>
<body>

<div class="container">
	<br><br>
	<h1>Ingresar Matrícula</h1>
	<h3>Datos Apoderado</h3>
	<h5>Ingresa los datos del apoderado y presiona en el botón para matricular estudiante</h5>
	<br><br>
	<a th:href="@{/administrador/matricula}" class="btn btn-outline-secondary">volver</a>
	<br><br>
	
<div class="container">
	<form th:action="@{/administrador/matricula/creada/ingresado}" method="post" th:object="${apoderado}">
	<br><br>
	  <div class="mb-3">
	    <label for="rut_apoderado" class="form-label">Rut</label>
	    <input class="form-control" id="rut_apoderado" th:field="*{rut_apoderado}" type="text" placeholder="Ingrese el Rut sin puntos y con guíon">
	    <span th:if="${#fields.hasErrors('rut_apoderado')}" th:errors="*{rut_apoderado}">Error Rut</span>
	  </div>
	  <div class="mb-3">
	    <label for="nombre_apoderado" class="form-label">Nombre</label>
	    <input class="form-control" id="nombre_apoderado" th:field="*{nombre_apoderado}" type="text" placeholder="Ingrese un nombre válido">
	    <span th:if="${#fields.hasErrors('nombre_apoderado')}" th:errors="*{nombre_apoderado}">Error Nombre</span>
	  </div>
	  <div class="mb-3">
	    <label for="apaterno_apoderado" class="form-label">Apellido Paterno</label>
	    <input class="form-control" id="apaterno_apoderado" th:field="*{apaterno_apoderado}" type="text" placeholder="Ingrese un apellido válido">
	    <span th:if="${#fields.hasErrors('apaterno_apoderado')}" th:errors="*{apaterno_apoderado}">Error Aapellido Paterno</span>
	  </div>
	  <div class="mb-3">
	    <label for="amaterno_apoderado" class="form-label">Apellido Materno</label>
	    <input class="form-control" id="amaterno_apoderado" th:field="*{amaterno_apoderado}" type="text" placeholder="Ingrese un apellido válido">
	    <span th:if="${#fields.hasErrors('amaterno_apoderado')}" th:errors="*{amaterno_apoderado}">Error Apellido Materno</span>
	  </div>
	  	  <div class="mb-3">
	    <label for="direccion_apoderado" class="form-label">Dirección</label>
	    <input type="text" class="form-control" id="direccion_apoderado" th:field="*{direccion_apoderado}" placeholder="Ingrese una dirección válida">
	    <span th:if="${#fields.hasErrors('direccion_apoderado')}" th:errors="*{direccion_apoderado}">Error Dirección</span>
	  </div>
	  	  <div class="mb-3">
	    <label for="telefono_apoderado" class="form-label">Teléfono</label>
	    <input type="text" class="form-control" id="telefono_apoderado" th:field="*{telefono_apoderado}" placeholder="Ingrese un número válido">
	    <span th:if="${#fields.hasErrors('telefono_apoderado')}" th:errors="*{telefono_apoderado}">Error Teléfono</span>
	  </div>
	  <br>
	  <a class="btn btn-secondary" th:href="@{/administrador/matricula}">Atrás</a>
	  <a class="btn btn-danger" th:href="@{/administrador/matricula/cancelar}">Cancelar Matrícula</a>
	  <button type="submit" class="btn btn-success">Finalizar proceso Matrícula</button>
	</form>
	<br><br>
</div>

<div class="col-md-4 mt-5">
	<div class="alert alert-success" th:if="${success} != null" th:text="${success}"></div>	
</div>
	
</div>

</body>
</html>