<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Libro de clases virtual School Life</title>
<link href="/css/Style.css" rel="stylesheet" type="text/css"
	crossorigin="anonymous" />
<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css"
	crossorigin="anonymous" />
<link href="/css/sidebars.css" rel="stylesheet" type="text/css"
	crossorigin="anonymous" />
<script type="text/javascript" src="/js/Script.js"></script>
<script type="text/javascript" src="/js/sidebars.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
	integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
	<a class="nav-link link-light" aria-disabled="true">Bienvenido: Administrador</a>
	<div class="d-flex justify-content-end">
		<a class="btn btn-outline-dark link-light" th:href="@{/administrador/login}">Volver</a>&nbsp;
		<a class="btn btn-outline-danger"  th:href="@{/}"><i class="fa-solid fa-power-off"></i>&nbsp; Cerrar Sesión</a>
	</div>
</nav>

<div class="container">
	<div class="col-md-4 mt-5">
		<div class="alert alert-warning" th:if="${warning} != null" th:text="${warning}"></div>	
	</div>

	<br><br>
	<h1>Ingresar Matrícula</h1>
	<h3>Datos Estudiante</h3>
	<h5>Ingresa los datos del estudiante y luego presiona siguiente</h5>
	<br><br>
	<a th:href="@{/administrador/matricula}" class="btn btn-outline-secondary">volver</a>
	<br><br>
	
	<div class="container">
	<form th:action="@{/administrador/matricula/creada}" method="post" th:object="${estudiante}">
	<br><br>

	  <div class="mb-3">
	    <label for="rut" class="form-label">Rut</label>
	    <input class="form-control" id="rut" th:field="*{rut}" type="text"  placeholder="Ingrese rut sin puntos y con guion">
	    <span th:if="${#fields.hasErrors('rut')}" th:errors="*{rut}">Error Rut</span>
	  </div>
	  <div class="mb-3">
	    <label for="nombre" class="form-label">Nombre</label>
	    <input  id="nombre" class="form-control" th:field="*{nombre}" type="text" placeholder="Ingrese un nombre válido">
	    <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">Error Nombre</span>
	  </div>
	  <div class="mb-3">
	    <label for="apaterno" class="form-label">Apellido Paterno</label>
	    <input class="form-control" id="apaterno" th:field="*{apaterno}" type="text" placeholder="Ingrese un apellido válido">
	    <span th:if="${#fields.hasErrors('apaterno')}" th:errors="*{apaterno}">Error Apellido Paterno</span>
	  </div>
	  <div class="mb-3">
	    <label for="amaterno" class="form-label">Apellido Materno</label>
	    <input class="form-control" id="amaterno" th:field="*{amaterno}" type="text" placeholder="Ingrese un apellido válido">
	    <span th:if="${#fields.hasErrors('amaterno')}" th:errors="*{amaterno}">Error Apellido Materno</span>
	  </div>
	  	  <div class="mb-3">
	    <label for="direccion" class="form-label">Dirección</label>
	    <input type="text" class="form-control" id="direccion" th:field="*{direccion}" placeholder="Ingrese una dirección válida">
	    <span th:if="${#fields.hasErrors('direccion')}" th:errors="*{direccion}">Error Dirección</span>
	  </div>
	  	  <div class="mb-3">
	    <label for="telefono" class="form-label">Teléfono</label>
	    <input type="text" class="form-control" id="telefono" th:field="*{telefono}" placeholder="Ingrese sin código verificador">
	    <span th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}">Error Teléfono</span>
	  </div>
	  <div class="mb-3">
	    <label for="correo" class="form-label">Correo Electrónico</label>
	    <input type="email" class="form-control" id="correo" th:field="*{correo}" placeholder="Ingrese un correo con el formato correcto">
	    <span th:if="${#fields.hasErrors('correo')}" th:errors="*{correo}">Error Correo Electrónico</span>
	  </div>
	  <div class="mb-3">
	    <label for="contrasena" class="form-label">Contraseña</label>
	    <input type="password" class="form-control" id="contrasena" th:field="*{contrasena}" placeholder="Ingrese una contraseña de mínimo 8 caracteres">
	    <span th:if="${#fields.hasErrors('contrasena')}" th:errors="*{contrasena}">Error Contraseña</span>
	  </div>
	  <div class="mb-3">
	    <label for="fecha" class="form-label">Fecha nacimiento</label>
	    <input type="date" class="form-control" id="fecha_nacimiento" th:field="*{fecha_nacimiento}" placeholder="Ingrese su fecha de nacimiento">
	    <span th:if="${#fields.hasErrors('fecha_nacimiento')}" th:errors="*{fecha_nacimiento}">Error Fecha Nacimiento</span>
	  </div>
	  <div class="mb-3">
	  	<label for="pie" class="form-label">PIE</label>
	  	<select class="form-control" id="curso_id" th:field="*{pie}">
	  		<option class="form-control" th:value="si" th:text="si"></option>
	  		<option class="form-control" th:value="no" th:text="no"></option>
	  	</select>  
	  </div>
	  <div class="mb-3">
	  	<label for="sep" class="form-label">SEP</label>
	  	<select class="form-control" id="curso_id" th:field="*{sep}">
	  		<option class="form-control" th:value="si" th:text="si"></option>
	  		<option class="form-control" th:value="no" th:text="no"></option>
	  	</select>  
	  </div>
	  <br>
	  <a class="btn btn-secondary" th:href="@{/administrador/matricula}">Cancelar</a>
	  <button type="submit" class="btn btn-primary">Siguiente</button>
	</form>
	<br><br>
</div>
	
</div>


	

</body>
</html>