<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Libro de clases virtual School Life</title>
<link href="/css/Style.css" rel="stylesheet" type="text/css"
	crossorigin="anonymous" />
<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css"
	crossorigin="anonymous" />
<link href="/css/sidebars.css" rel="stylesheet" type="text/css"
	crossorigin="anonymous" />
<script type="text/javascript" src="/js/Script.js"></script>
<script type="text/javascript" src="/js/sidebars.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
	integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

<div class="container">
	<ul class="nav justify-content-center">
	  <li class="nav-item">
	    <a class="nav-link disabled" aria-disabled="true">Bienvenido: Administrador</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" th:href="@{/administrador/login}">Volver</a>
	  </li>
	</ul>
</div>

<div class="container">

	<h1>Cursos</h1>
	<br><br>
	<a th:href="@{/administrador/curso/crear}" class="btn btn-outline-primary">Ingresar Curso</a>
	<br><br>
	<table class="table text-center">
		<thead>
			<tr>
				<th>#</th>
				<th>Curso</th>
				<th>Profesor Encargado</th>
				<th>Estado</th>
				<th>Opciones</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="c : ${cursos}">
				<td th:text="${c[0]}"></td>
				<td th:text="${c[1]}"></td>
				<td th:text="${c[2]}"></td>
				<td th:text="${c[3]}"></td>
				<td >
					<a th:href="@{/administrador/curso/} + ${c[0]}" class="btn btn-success">ver lista</a>
					<a th:href="@{/cursosModificar/} + ${c[0]}" class="btn btn-secondary">Editar Curso</a>
				</td>

			</tr>
		</tbody>
	</table>
</div>

</body>
</html>