<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Libro de clases virtual School Life</title>
<link href="/css/Style.css" rel="stylesheet" type="text/css"
	crossorigin="anonymous" />
<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css"
	crossorigin="anonymous" />
<link href="/css/sidebars.css" rel="stylesheet" type="text/css"
	crossorigin="anonymous" />
<script type="text/javascript" src="/js/Script.js"></script>
<script type="text/javascript" src="/js/sidebars.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
	integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<br><br>
	<div class="container">
		<h1 class="display-4">Asistencia Diaria</h1>
		<br>
		<p>La asistencia diaria solo contempla presente o ausente, estos son los únicos estados que percibe el SIGE</p>
		<div class="container">
			<form th:action="@{/asistencia}" method="get">
			
			<div class="row g-3 align-items-center">
				<div class="col-auto">
					<select  class="form-select" data-toggle="tooltip" data-placement="bottom" title="Selecciona el curso" aria-label="Default select example">
					  <option th:each="c : ${cursos}" th:text="${c.grado} + ' ' + ${c.seccion}" th:value="${c.id}"></option>
					</select>	
				</div>
				<div class="col-auto">
					<select class="form-select" aria-label="Default select example">
					  <option th:text="Enero" th:value="1"></option>
					  <option th:text="Febrero" th:value="2"></option>
					  <option th:text="Marzo" th:value="3"></option>
					  <option th:text="Abril" th:value="4"></option>
					  <option th:text="Mayo" th:value="5"></option>
					  <option th:text="Junio" th:value="6"></option>
					  <option th:text="Júlio" th:value="7"></option>
					  <option th:text="Agosto" th:value="8"></option>
					  <option th:text="Septiembre" th:value="9"></option>
					  <option th:text="Octubre" th:value="10"></option>
					  <option th:text="Noviembre" th:value="11"></option>
					  <option th:text="Diciembre" th:value="12"></option>
					</select>	
				</div>
				<div class="col-auto">
					<input type="submit" class="btn btn-outline-danger" value="Buscar">
					<a th:href="@{/asistencia}" class="btn btn-outline-warning">Limpiar</a>
				</div>
			</div>
			
			</form>
			
			<br><br>
			<div class="container text-center">
			
				<table class="table">

						 <tr>
						 	<th>#</th>
						 	<th>Estudiante</th>
							<th th:each="a : ${asistencias}" th:text="${#dates.day(a.fecha)} + ' ' + ${#dates.monthName(a.fecha)}"></th>	 		 	
						</tr>

						<tr th:each="e : ${estudiantes}">
							<td th:text="${e.id}"></td>
							<td th:text="${e.nombre}"></td>
							<!--  <td style="background-color: red;" th:each="a : ${asistencias}" th:text="${a.estado}" th:if="${a.estado} == 'ausente' "></td>-->
							<td th:each="a : ${asistencias}" th:text="${a.estado}"></td>
						</tr>					

				</table>
				
				<!--
				<table class="table">
						 <tr>
						 	<th>#</th>
						 	<th>Estudiante</th>
						 	<th th:each="a : ${asistencia}" th:text="${a[0]}"></th>
						</tr>
						<tr th:each="as : ${asistencia}">
							<td th:text="${as[0]}"></td>
							<td th:text="${as[1]}"></td>
							<td th:each="a : ${asistencia}" th:text="${a[2]}"></td>
						</tr>	
			

				</table>
				-->
			</div>
		</div>
	</div>
</body>
</html>