<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org"> 
<head>
<meta charset="UTF-8">
<title>Libro de Clases Online School Life</title>
<link href="/css/Style.css" rel="stylesheet" type="text/css"
	crossorigin="anonymous" />
<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css"
	crossorigin="anonymous" />
<link href="/css/sidebars.css" rel="stylesheet" type="text/css"
	crossorigin="anonymous" />
<script type="text/javascript" src="/js/Script.js"></script>
<script type="text/javascript" src="/js/sidebars.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
	integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

	<div class="row">
		<div class="col-2">
			<header>
				<nav id="sidebarMenu" class="d-lg-block sidebar bg-white">
					<div class="position-sticky">
						<div class="list-group list-group-flush mx-3 mt-4">
							<a th:href="@{/asistencia}"  class="list-group-item list-group-item-action py-2 ripple"><span>Asistencia</span></a>
							<a th:href="@{/curso/profesorJefe/} + 1"  class="list-group-item list-group-item-action py-2 ripple"><span>Curso Jefatura</span></a>
							<a th:href="@{/matricula}"  class="list-group-item list-group-item-action py-2 ripple"><span>Matrículas</span></a>
							<a th:href="@{/curso}"  class="list-group-item list-group-item-action py-2 ripple"><span>Cursos</span></a>
							<a th:href="@{/}" class="btn btn-outline-danger "><span>Salir</span></a>
						</div>
					</div>
				</nav>
			</header>
		</div>
		<div class="col-10">
			<div class="container">
				<br><br>
				<h2 class="text-center">Asistencias</h2>
				<br><br>
				<a th:href="@{/cursoAtras}" class="btn btn-outline-primary text-left">Atrás</a>
				<br><br>
				<div class="container text-center">
		<table class="table table-hover text-center">
		<thead class="table-primary">
			<tr>
				<th>#</th>
				<th>ASISTENCIA</th>
				<th>FECHA</th>
				<th>ASIGNATURA</th>
				<th>OPCIONES</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="as : ${asistencias}">
				<td th:text="${as.id}"></td>
				<td th:text="${as.estado}"></td>
				<td th:text="${#calendars.format(as.fecha,'dd-MMMM-yyyy')}"></td>
				<td th:text="${as.asignatura_id}"></td>
				<td><a th:href="@{/estudianteModificar/} + ${e.id}" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Editar información"><i class="fa-regular fa-pen-to-square" ></i></a></td>
			</tr>
		</tbody>
	</table>
	</div>

		</div>
	</div>
</div>
	

</body>
</html>