<!DOCTYPE html>
<html xmlns="http://www.thymelead.org">
<head>
<meta charset="UTF-8">
<title>School Life</title>
<link href="/css/Style.css" rel="stylesheet" type="text/css" crossorigin="anonymous" />
<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" crossorigin="anonymous" />
<link href="/css/sidebars.css" rel="stylesheet" type="text/css" crossorigin="anonymous" />
<script type="text/javascript" src="/js/Script.js"></script>
<script type="text/javascript" src="/js/sidebars.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>

<div class="row">
	<div class="col-2">
		<header>
		  <nav id="sidebarMenu" class="d-lg-block sidebar bg-white">
		    <div class="position-sticky">
		      <div class="list-group list-group-flush mx-3 mt-4">
		      <a th:href="@{/}" class="list-group-item list-group-item-action py-2 ripple"><span>INICIO</span></a>
		        <a href="#" class="list-group-item list-group-item-action py-2 ripple"><span>Matrículas</span></a>
		        <a th:href="@{/asistenciaIndex}" class="list-group-item list-group-item-action py-2 ripple"><span>Asistencia</span></a>
		        <a th:href="@{/curso/listar/}" class="list-group-item list-group-item-action py-2 ripple"><span>Cursos</span></a>
		        <a href="#" class="list-group-item list-group-item-action py-2 ripple"><span>Profesores</span></a>
		        <a th:href="@{/login}" class="btn btn-outline-danger "><span>Cerrar Sesión</span></a>
		      </div>
		    </div>
		  </nav>
		</header>
	</div>
	<div class="col-10">



<div class="container text-center">
<h1>School Life</h1>
</div>
<div class="container">
	<form th:action="@{/modificarCurso}" method="post" th:object="${curso}">
	<h3>Modificar datos del curso <span style="text-transform:uppercase;color:red;" th:text=" *{nombre} + ' ' + *{seccion}"></span></h3>
	<br>
	<input type="hidden" name="id" th:field="*{id}"> 
	  <div class="mb-3">
	    <label for="grado" class="form-label">Grado</label>
	    <input class="form-control" id="nombre" th:field="*{nombre}" type="text">
	  </div>
	  <div class="mb-3">
	    <label for="seccion" class="form-label">Sección</label>
	    <input type="text" class="form-control" id="seccion" th:field="*{seccion}">
	  </div>
	  <div class="mb-3">
	    <label for="cantidad" class="form-label">Cantidad Alumnos</label>
	    <input type="number" class="form-control" id="cantidad" th:field="*{cantidad}">
	  </div>
	  <div class="mb-3">
	  <label for="estado" class="form-label">Estado del curso</label>
	  	<select class="form-control" th:field="*{estado}">
		    <option th:value="'activo'" th:text="activo"></option>
		    <option th:value="'desactivado'" th:text="desactivado"></option>
		</select>
	  </div>
	  <div class="mb-3" >
	  <label for="estado" class="form-label">Selecciona el Profesor</label>
	  	<select class="form-control" th:field="*{profesor_jefe}" >
		    <option th:each="p : ${profesores}" th:value="${p.id}"  th:text="${p.nombre} + ' ' + ${p.apaterno} + ' ' + ${p.amaterno}"></option>
		</select>
	  </div>
	  <br>
	  <a class="btn btn-secondary" th:href="@{/cursoAtras}">Cancelar</a>
	  <button type="submit" class="btn btn-primary">Modificar Curso</button>
	</form>
</div>

	<div class="col-md-4 mt-5 text-center">
		<div class="alert alert-success text-center" th:if="${success} != null" th:text="${success}"></div>	
	</div>
	
	
	</div>
</div>
</body>
</html>