<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Libro de clases virtual School Life</title>
<link href="/css/Style.css" rel="stylesheet" type="text/css"
	crossorigin="anonymous" />
<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css"
	crossorigin="anonymous" />
<link href="/css/sidebars.css" rel="stylesheet" type="text/css"
	crossorigin="anonymous" />
<script type="text/javascript" src="/js/Script.js"></script>
<script type="text/javascript" src="/js/sidebars.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
	integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

<div class="container">
	<form th:action="@{/administrador/curso/actualizado}" method="post" th:object="${curso}">
	<br><br>
	<h3>Modificar datos del curso</h3>
	<br><br>
	<input type="hidden" name="id" th:field="*{id}"> 
	  <div class="mb-3">
	    <label for="grado" class="form-label">Grado</label>
	    <input class="form-control" id="grado" th:field="*{grado}" type="text">
	    <span th:if="${#fields.hasErrors('grado')}" th:errors="*{grado}">Error Grado</span>
	  </div>
	  <div class="mb-3">
	    <label for="seccion" class="form-label">Sección</label>
	    <input type="text" class="form-control" id="seccion" th:field="*{seccion}">
	   	<span th:if="${#fields.hasErrors('seccion')}" th:errors="*{seccion}">Error Sección</span>
	  </div>
	  	  <div class="mb-3">
	    <label for="profesor" class="form-label">Profesor</label>
	    <select class="form-control" th:field="*{profesor_id}" id="profesor_id">
	    	<option th:each="p : ${profesores}" th:value="${p.id}" th:text="${p.nombre} + ' ' + ${p.apaterno} + ' ' +${p.amaterno}"></option>
	    </select>
	    <span th:if="${#fields.hasErrors('profesor_id')}" th:errors="*{profesor_id}">Error Profesor</span>
	  </div>
	  <br>
	  <a class="btn btn-secondary" th:href="@{/administrador/curso}">Cancelar</a>
	  <button type="submit" class="btn btn-primary">Modificar Curso</button>
	</form>
</div>
	<br><br>
	<div class="col-md-4 mt-5">
		<div class="alert alert-success" th:if="${success} != null" th:text="${success}"></div>	
	</div>
	<br><br>
</body>
</html>