<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Libro de clases Online School Life</title>
<link href="/css/Style.css" rel="stylesheet" type="text/css"
	crossorigin="anonymous" />
<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css"
	crossorigin="anonymous" />
<link href="/css/sidebars.css" rel="stylesheet" type="text/css"
	crossorigin="anonymous" />
<script type="text/javascript" src="/js/Script.js"></script>
<script type="text/javascript" src="/js/sidebars.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
	integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

<div class="container">
	<form th:action="@{/estudianteModificado}" method="post" th:object="${estudiante}">
	<br><br>
	<h3>Modificar datos del Estudiante</h3>
	<br><br>
	<input type="hidden" name="id" th:field="*{id}"> 
	  <div class="mb-3">
	    <label for="grado" class="form-label">Rut</label>
	    <input class="form-control" id="rut" th:field="*{rut}" type="text">
	  </div>
	  <div class="mb-3">
	    <label for="grado" class="form-label">Nombre</label>
	    <input class="form-control" id="nombre" th:field="*{nombre}" type="text">
	  </div>
	  <div class="mb-3">
	    <label for="grado" class="form-label">Apellido Paterno</label>
	    <input class="form-control" id="apaterno" th:field="*{apaterno}" type="text">
	  </div>
	  <div class="mb-3">
	    <label for="grado" class="form-label">Apellido Materno</label>
	    <input class="form-control" id="amaterno" th:field="*{amaterno}" type="text">
	  </div>
	  	  <div class="mb-3">
	    <label for="seccion" class="form-label">Dirección</label>
	    <input type="text" class="form-control" id="direccion" th:field="*{direccion}">
	  </div>
	  	  <div class="mb-3">
	    <label for="seccion" class="form-label">Teléfono</label>
	    <input type="text" class="form-control" id="telefono" th:field="*{telefono}">
	  </div>
	  <div class="mb-3">
	    <label for="seccion" class="form-label">Correo Electrónico</label>
	    <input type="text" class="form-control" id="correo" th:field="*{correo}">
	  </div>
	  <div class="mb-3">
	    <label for="seccion" class="form-label">Estado</label>
	    <input type="text" class="form-control" id="correo" th:field="*{estado}">
	  </div>
	  <div class="mb-3">
	    <label for="seccion" class="form-label">Curso</label>
	    <input type="number" class="form-control" id="curso_id" th:field="*{curso_id}">
	  </div>
	  <div class="mb-3">
	    <label for="seccion" class="form-label">Colegio</label>
	    <input type="number" class="form-control" id="curso_id" th:field="*{colegio_id}">
	  </div>
	  <div class="mb-3">
	    <label for="seccion" class="form-label">Fecha nacimiento</label>
	    <input type="date" class="form-control" id="curso_id" th:field="*{fecha_nacimiento}">
	  </div>
	  	  <div class="mb-3">
	    <label for="seccion" class="form-label">PIE</label>
	    <input type="text" class="form-control" id="curso_id" th:field="*{pie}">
	  </div>
	  	  <div class="mb-3">
	    <label for="seccion" class="form-label">SEP</label>
	    <input type="text" class="form-control" id="curso_id" th:field="*{sep}">
	  </div>
	  <br>
	  <a class="btn btn-secondary" th:href="@{/cursoAtras}">Cancelar</a>
	  <button type="submit" class="btn btn-success">Modificar Estudiante</button>
	</form>
</div>
<br><br>
</body>
</html>