<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Libro de clases online</title>
<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" crossorigin="anonymous" />
<!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" type="text/css" crossorigin="anonymous" /> -->
<link href="/css/sidebars.css" rel="stylesheet" type="text/css" crossorigin="anonymous" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700&display=swap" rel="stylesheet">
<link href="/css/estilos.css" rel="stylesheet" type="text/css" crossorigin="anonymous" />

</head>
<body class="pt-sans-regular">

<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
    <div>
        <a th:href="@{/}" class="btn btn-outline-light  border-dark" aria-disabled="true" data-toggle="tooltip" data-placement="bottom" title="Inicio"><i class="fa-solid fa-house-chimney"></i></a> <span class="text-light" th:text="${establecimientoSesion.nombre}"></span>
    </div>
    
    <div class="d-flex justify-content-end">
        <a class="btn btn-outline-danger" th:href="@{/cerrarSesion}" data-toggle="tooltip" data-placement="bottom" title="Presione para cerrar la sesión"><i class="fa-solid fa-power-off"></i>&nbsp;Cerrar Sesión</a>
    </div>
</nav>

<div class="container">

    <div class="col-md-4 mt-5">
        <div class="alert alert-success" th:if="${success} != null" th:text="${success}"></div>    
    </div>
    <h1 class=""><span><a class="btn"  th:href="@{/hojadevida}" data-toggle="tooltip" data-placement="bottom" title="Volver a inicio"><i class="fa-sharp fa-solid fa-chevron-left"></i></a></span> Hoja de vida</h1>
    <br><br>
    <div class="row">
    	<div class="col">
             <form th:action="@{/Hoja-de-vida/ver/{estudianteId}(estudianteId=${estudianteId})}" method="get">
			    <label for="filtroanio">Filtrar por año</label>
			    <select class="form-select shadow" id="filtroanio" name="anio" onchange="this.form.submit()">
			        <option value="">Todos</option> <!-- Opción para mostrar todos los años -->
			        <option th:each="anio : ${anios}"
			                th:value="${anio}"
			                th:text="${anio}"
			                th:selected="${anio == selectedAnio}"></option>
			    </select>
			    <input type="hidden" name="estudianteId" th:value="${estudianteId}" />
			</form>
    	</div>
    	<div class="col"></div>
    	<div class="col">
    	</div>
    </div>
    <br><br>
    <div class="table-responsive">
    	<div class="text-end">
    		<a class="btn btn-info shadow" th:href="@{/Hoja-de-vida/ver/} + ${estudianteId} + '?format=pdf'" target="_blank">Descargar anotaciones</a>
    	</div>
    	<br>
        <table class="table table-bordered text-center border rounded container shadow">
            <thead>
                <tr>
                    <th>#</th>
                    <th>FECHA</th>
                    <th>TIPO DE EVENTO</th>
                    <th>ASIGNATURA</th>
                    <th>DETALLE</th>
                    <th>USUARIO QUE REGISTRÓ</th>
                    <th>ESTUDIANTE</th>
                    <th>ARCHIVO</th>
                    <th>OPCIONES</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="h : ${hoja_de_vida}">
                    <td th:text="${h.id_hoja_de_vida}"></td>
                    <td th:text="'Fecha: ' + ${#calendars.format(h.fecha,'dd-MMMM-yyyy')}"></td>
                    <td th:text="${h.tipoEvento}"></td>
                    <td th:text="${h.asignatura}"></td>
                    <td th:text="${h.detalle}"></td>
                    <td th:text="${h.usuarioId}"></td>
                    <td th:text="${h.estudianteId}"></td>
                    <td >
                    <!-- Enlace para descargar el archivo -->
                        <a th:if="${h.archivo != null}" th:href="@{/descargar/} + ${h.archivo}" class="" target="_blank">Descargar Archivo</a>
                        <span th:if="${h.archivo == null}">No disponible</span>
                    
                    </td>
                    <td>
                        <a class="btn btn-secondary" th:href="@{/HojaDeVida/modificar/} + ${h.id_hoja_de_vida}" data-toggle="tooltip" data-placement="bottom" title="Editar"><i class="fa-solid fa-pencil"></i></a>
                        
                        <a class="btn btn-danger" data-toggle="modal" th:attr="data-target='#confirmDeleteModal_' + ${h.id_hoja_de_vida}" data-placement="bottom" title="Eliminar"><i class="fa-regular fa-trash-can"></i></a>
                       
                       <!-- Modal de confirmación -->
                        <div class="modal fade" th:id="'confirmDeleteModal_' + ${h.id_hoja_de_vida}" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" th:id="'confirmDeleteModalLabel_' + ${h.id_hoja_de_vida}">Confirmar Eliminación</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        ¿Estás seguro de que deseas eliminar este registro?
                                    </div>
                                    <div class="modal-footer">
                                        <a th:href="@{/HojaDeVida/eliminar/} + ${h.id_hoja_de_vida}" class="btn btn-danger">Eliminar</a>
                                        
                                        <button type="button" class="btn btn-secondary"
							data-bs-dismiss="modal">Cerrar</button>
                                    </div>
                                </div>
                            </div>
                        </div>               
                                              
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <br><br>
</div>

</body>
</html>
