<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Libro de clases virtual School Life</title>
<link href="/css/Style.css" rel="stylesheet" type="text/css" crossorigin="anonymous" />
<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" crossorigin="anonymous" />
<link href="/css/sidebars.css" rel="stylesheet" type="text/css" crossorigin="anonymous" />
<script type="text/javascript" src="/js/Script.js"></script>
<script type="text/javascript" src="/js/sidebars.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

<div class="row">
	<div class="col-2">
		<header>
		  <nav id="sidebarMenu" class="d-lg-block sidebar bg-white">
		    <div class="position-sticky">
		      <div class="list-group list-group-flush mx-3 mt-4">
		      <a th:href="@{/}" class="list-group-item list-group-item-action py-2 ripple"><span><i class="fa-solid fa-house"></i> Inicio</span></a>
		        <a href="#" class="list-group-item list-group-item-action py-2 ripple text-info disabled"><span>Matrículas</span></a>
		        <a th:href="@{/asistenciaIndex}" class="list-group-item list-group-item-action py-2 ripple"><span>Asistencia</span></a>
		        <a th:href="@{/curso/listar/}" class="list-group-item list-group-item-action py-2 ripple"><span>Cursos</span></a>
		        <a th:href="@{/profesor/listar}" class="list-group-item list-group-item-action py-2 ripple"><span>Profesores</span></a>
		        <a th:href="@{/login}" class="btn btn-outline-danger "><span>Cerrar Sesión</span></a>
		      </div>
		    </div>
		  </nav>
		</header>
	</div>
	<div class="col-10">
		<div class="container">
			<div class="p-5 mb-4 rounded-2 text-center" th:if="${listaColegio != null}">
				<h1 th:text="${listaColegio.getNombre()}"></h1>
				<h3 th:text="${listaColegio.getDescripcion()}"></h3>
				<br>
				<br>
				<h3 th:text="${listaColegio.getDireccion()}"></h3>
				Correo: <span th:text="${listaColegio.getCorreo()}"></span>
				,Teléfono: <span th:text="${listaColegio.getTelefono()}"></span>
    		</div>
		</div>	
	</div>
</div>


</body>
</html>