<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Libro de clases virtual School Life</title>
<link href="/css/Style.css" rel="stylesheet" type="text/css" crossorigin="anonymous" />
<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" crossorigin="anonymous" />
<link href="/css/sidebars.css" rel="stylesheet" type="text/css" crossorigin="anonymous" />
<script type="text/javascript" src="/js/Script.js"></script>
<script type="text/javascript" src="/js/sidebars.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
</head>

<header>
  <nav id="sidebarMenu" class="d-lg-block sidebar bg-white">
    <div class="position-sticky">
      <div class="list-group list-group-flush mx-3 mt-4">
        <a href="#" class="list-group-item list-group-item-action py-2 ripple"><span>Matrículas</span></a>
        <a href="#" class="list-group-item list-group-item-action py-2 ripple"><span>Asistencia</span></a>
        <a href="#" class="list-group-item list-group-item-action py-2 ripple"><span>Cursos</span></a>
        <a href="#" class="list-group-item list-group-item-action py-2 ripple"><span>Profesores</span></a>
      </div>
    </div>
  </nav>
</header>
	
</body>
</html>