<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/Style.css" rel="stylesheet" type="text/css" crossorigin="anonymous" />
	<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" crossorigin="anonymous" />
	<link href="/css/signin.css" rel="stylesheet" type="text/css" crossorigin="anonymous" />
	<script type="text/javascript" src="/js/Script.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>  
	<style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
	<title>School Life</title>
</head>
<body class="text-center">    
	<main class="form-signin">
	    <h1 class=" mb-3 fw-normal">School Life</h1>
	    <h3 class="h3 mb-3 fw-normal">Libro de Clases Online</h3>
	
	    <div class="form-floating">
	      <input type="text" class="form-control" th:value="${usuario}" id="usuario" placeholder="Ingrese el usuario">
	      <input type="hidden" th:value="${usuario}">
	      <label for="floatingInput">Usuario</label>
	    </div>
	    <div class="form-floating">
	      <input type="password" class="form-control" id="password" placeholder="Password">
	      <label for="floatingPassword">Contraseña</label>
	    </div>
	    <div class="mb-3">
	    </div>
	    <a class="w-100 btn btn-lg btn-primary" th:href="@{/}" >Ingresar</a>
	</main>     
  </body>
</html>