<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Libro de Clases Online</title>
<link href="/css/Style.css" rel="stylesheet" type="text/css"
	crossorigin="anonymous" />
<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css"
	crossorigin="anonymous" />
<link href="/css/sidebars.css" rel="stylesheet" type="text/css"
	crossorigin="anonymous" />
<script type="text/javascript" src="/js/Script.js"></script>
<script type="text/javascript" src="/js/sidebars.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
	integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

<div class="container">

	<div class="row">
		<div class="col-2">
			<header>
				<nav id="sidebarMenu" class="d-lg-block sidebar bg-white">
					<div class="position-sticky">
						<div class="list-group list-group-flush mx-3 mt-4">
							<a th:href="@{/inicio}" class="list-group-item list-group-item-action py-2 ripple"><span><i
									class="fa-solid fa-house"></i> Inicio</span></a> <a class="list-group-item list-group-item-action py-2 ripple bg-primary text-light"><span>Cursos</span></a>
							<a th:href="@{/inicio/perfil}" class="btn btn-outline-danger "><span>Salir</span></a>
						</div>
					</div>
				</nav>
			</header>
		</div>
		<div class="col-10">

	<br>
	<h1 class="fs-2">Matrículas</h1>
	<br>
	<a class="btn btn-danger" th:href="@{/matricula/estudiante}"><span>+</span> Matricular estudiante</a>
	<br><br><br>
	<div class="container">
		<div class="row g-3 align-items-center">
		  <div class="col-auto">
		    <label for="inputPassword6" class="col-form-label">PIE</label>
		  </div>
		  <div class="col-auto">
		    <select class="form-select" aria-label="Default select example">
			  <option value="1">Todos</option>
			  <option value="2">Alumnos PIE</option>
			  <option value="3">Alumnos NO PIE</option>
			</select>
		  </div>
		  <div class="col-auto">
		    <span id="passwordHelpInline" class="form-text">
		      
		    </span>
		  </div>
		  <div class="col-auto">
		    <span id="passwordHelpInline" class="form-text">

		    </span>
		  </div>
		  <div class="col-auto">
		    <label for="inputPassword6" class="col-form-label">SEP</label>
		  </div>
		  <div class="col-auto">
		    <select class="form-select" aria-label="Default select example">
			  <option value="1">Todos</option>
			  <option value="2">Alumnos SEP</option>
			  <option value="3">Alumnos NO SEP</option>
			</select>
		  </div>
		  <div class="col-auto">
		    <span id="passwordHelpInline" class="form-text">
		      
		    </span>
		  </div>
		  
		  	<div class="col-auto">
		    	<a class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Buscar alumnos PIE o SEP">Filtrar</a>
		    </span>
		  </div>
		</div>
	</div>
	<br><br><br>
	<div class="container">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>N° Matrícula</th>
					<th>Nombre</th>
					<th>Rut</th>
					<th>SEP</th>
					<th>PIE</th>
					<th>Curso</th>
					<th>Estado</th>
					<th>Opciones</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td><a  class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Editar información"><i class="fa-regular fa-pen-to-square" ></i></a></td>
				</tr>
			</tbody>
		</table>
	</div>

</div>

</div>

</body>
</html>