<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Libro de clases online</title>
<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css"
	crossorigin="anonymous" />
<link href="/css/sidebars.css" rel="stylesheet" type="text/css"
	crossorigin="anonymous" />
<script type="text/javascript" src="/js/sidebars.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
	integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
	
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>	
<style>
/* Estilos para indicar pestañas deshabilitadas */
.disabled {
	pointer-events: none;
	opacity: 0.5;
}
</style>
</head>
<body>

	<nav class="navbar bg-dark border-bottom border-body"
		data-bs-theme="dark">
		<div>
	<div>
		<a th:href="@{/}"  data-toggle="tooltip" data-placement="bottom" title="volver a inicio" class="btn btn-outline-light  border-dark" aria-disabled="true"><i class="fa-solid fa-house-chimney"></i></a> <span class="text-light">NOMBRE ESCUELA</span>
	</div>
		</div>

		<div class="d-flex justify-content-end">
			<a class="btn btn-outline-danger" th:href="@{/login}"><i
				class="fa-solid fa-power-off"></i>&nbsp;Cerrar Sesión</a>
		</div>
	</nav>
	<br> &nbsp;&nbsp;
	<a class="btn text-danger" th:href="@{/matricula}"><i
		class="fa-sharp fa-solid fa-chevron-left"></i>&nbsp; Matrículas</a>
	<br>
	<br>


	<form th:action="@{/matricula/ingresar/creada}" method="POST"
		th:object="${estudiante}">

		<div class="container border rounded">
			<br>
			<h1>Ingresar Matrícula</h1>
			<br>
			<br>
			<ul class="nav nav-tabs" id="myTab" role="tablist">
				<li class="nav-item" role="presentation">
					<button class="nav-link active" id="home-tab" data-bs-toggle="tab"
						data-bs-target="#home-tab-pane" type="button" role="tab"
						aria-controls="home-tab-pane" aria-selected="true">Antecedentes
						Personales (1)</button>
				</li>
				<li class="nav-item" role="presentation">
					<button class="nav-link " id="profile-tab" data-bs-toggle="tab"
						data-bs-target="#profile-tab-pane" type="button" role="tab"
						aria-controls="profile-tab-pane" aria-selected="false">Antecedentes
						Escolares (2)</button>
				</li>
				<li class="nav-item" role="presentation">
					<button class="nav-link " id="contact-tab" data-bs-toggle="tab"
						data-bs-target="#contact-tab-pane" type="button" role="tab"
						aria-controls="contact-tab-pane" aria-selected="false">Antecedentes
						Salud (3)</button>
				</li>
			</ul>
			<br>
			<div class="tab-content" id="myTabContent">
				<div class="tab-pane fade show active" id="home-tab-pane"
					role="tabpanel" aria-labelledby="home-tab" tabindex="1">


					<h2>Antecedentes personales</h2>
					<br>
					<div class="row">
						<div class="col">
							<label>RUT<span class="text-danger">&nbsp;*(sin
									puntos y con guion)</span></label> <input class="form-control" type="text"
								id="rut" th:field="*{run_estudiante}"
								placeholder="Ingrese sin puntos y con guion"> <span
								th:if="${#fields.hasErrors('run_estudiante')}"
								th:errors="*{run_estudiante}">Error Rut</span>
								<span class="text-danger" th:if="${rutexiste} == True" th:text="'el rut ya existe en el sistema, Rut Inválido.'"></span>
						</div>
						<div class="col">
							<label>Apellido Paterno <span class="text-danger">*</span></label>
							<input id="apaterno" th:field="*{apaterno}" placeholder="Ingrese el apellido paterno acá" class="form-control"
								type="text"> <span
								th:if="${#fields.hasErrors('apaterno')}" th:errors="*{apaterno}">Error
								Apellido Paterno</span>
						</div>
						<div class="col">
							<label>Apellido Materno</label> <input id="amaterno" placeholder="ingrese el apellido materno acá"
								th:field="*{amaterno}" class="form-control" type="text">
							<span th:if="${#fields.hasErrors('amaterno')}"
								th:errors="*{amaterno}">Error Apellido Materno</span>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col">
							<label>Nombres <span class="text-danger">*</span></label> <input
								id="nombre" th:field="*{nombre}" placeholder="Ingrese los nombres del estudiante acá" class="form-control"
								type="text"> <span
								th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">Error
								Nombre</span>
						</div>
						<div class="col">
							<label>Email</label> <input id="correo_electronico"
								th:field="*{correo_electronico}" placeholder="Ingrese el email acá" class="form-control"
								type="email"> <span
								th:if="${#fields.hasErrors('correo_electronico')}"
								th:errors="*{correo_electronico}">Error Correo
								Electrónico</span>
						</div>
						<div class="col">
							<label>Fecha Nacimiento <span class="text-danger">*</span></label>
							<input id="fecha_nacimiento" th:field="*{fecha_nacimiento}"
								class="form-control" type="date"> <span
								th:if="${#fields.hasErrors('fecha_nacimiento')}"
								th:errors="*{fecha_nacimiento}">Error Fecha de nacimiento</span>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col">
							<label>Género</label> <select class="form-select" id="genero"
								th:field="*{genero}">
								<option th:value="otro">OTRO</option>
								<option th:value="femenino">FEMENINO</option>
								<option th:value="masculino">MASCULINO</option>
							</select>
						</div>
						<div class="col">
							<label>Nacionalidad</label> <select class="form-select"
								id="nacionalidad" th:field="*{nacionalidad}">
								<option th:value="CHILENA">CHILENA</option>
								<option th:value="PERUANA">PERUANA</option>
								<option th:value="VENEZOLANA">VENEZOLANA</option>
								<option th:value="COLOMBIANA">COLOMBIANA</option>
								<option th:value="MEXICANA">MEXICANA</option>
								<option th:value="HAITIANA">HAITIANA</option>
								<option th:value="OTRO">OTRO</option>
								<option th:value="BOLIVIANA">BOLIVIANA</option>
								<option th:value="ARGENTINA">ARGENTINA</option>
							</select>
						</div>
						<div class="col">
							<label>País de Nacimiento</label> <select class="form-select"
								id="pais_nacimiento" th:field="*{pais_nacimiento}">
								<option th:value="CHILENA">CHILENA</option>
								<option th:value="PERUANA">PERUANA</option>
								<option th:value="VENEZOLANA">VENEZOLANA</option>
								<option th:value="COLOMBIANA">COLOMBIANA</option>
								<option th:value="MEXICANA">MEXICANA</option>
								<option th:value="HAITIANA">HAITIANA</option>
								<option th:value="OTRO">OTRO</option>
								<option th:value="BOLIVIANA">BOLIVIANA</option>
								<option th:value="ARGENTINA">ARGENTINA</option>
							</select>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col">
							<label>Vive con</label> <select class="form-select" id="vive_con"
								th:field="*{vive_con}">
								<option th:value="'AMBOS PADRES'">AMBOS PADRES</option>
								<option th:value="'SÓLO PADRE'">SÓLO PADRE</option>
								<option th:value="'SÓLO MADRE'">SÓLO MADRE</option>
								<option th:value="'ABUELOS'">ABUELOS</option>
								<option th:value="'HERMANOS'">HERMANOS</option>
								<option th:value="'TÍOS'">TÍOS</option>
								<option th:value="'OTROS'">OTROS</option>
							</select>
						</div>
						<div class="col">
							<label>Dirección</label> <input id="direccion"
								th:field="*{direccion}" placeholder="Ingrese la dirección acá" class="form-control" type="text">
							<span th:if="${#fields.hasErrors('direccion')}"
								th:errors="*{direccion}">Error Dirección</span>
						</div>
						<div class="col">
							<label>Comuna</label> <select class="form-select" id="comuna"
								th:field="*{comuna}">
								<option th:each="c : ${comunas}" th:text="${c}" th:value="${c}"></option>
							</select>
						</div>
					</div>

					<br>
					<div class="row">
						<div class="col">
							<label>Etnia</label> <select id="etnia" th:field="*{etnia}"
								class="form-select">
								<option th:value="ALACALUFE">ALACALUFE</option>
								<option th:value="ATACAMEÑO">ATACAMEÑO</option>
								<option th:value="AYMARA">AYMARA</option>
								<option th:value="COLLA">COLLA</option>
								<option th:value="MAPUCHE">MAPUCHE</option>
								<option th:value="QUECHUA">QUECHUA</option>
								<option th:value="RAPANUI">RAPANUI</option>
								<option th:value="OTRO">OTRO</option>
								<option th:value="YAMANA">YAMANA</option>
								<option th:value="NINGUNO">NINGUNO</option>
								<option th:value="DIAGUITA">DIAGUITA</option>
							</select>
						</div>
						<div class="col">
							<label>Teléfono Celular</label> <input id="celular"
								th:field="*{celular}" placeholder="Número de celular sin el +56 9" class="form-control" type="number">
							<span th:if="${#fields.hasErrors('celular')}"
								th:errors="*{celular}">Error Celular</span>
						</div>
						<div class="col">
							<label>Teléfono Fijo</label> <input id="telefono"
								th:field="*{telefono}" placeholder="Ingresa solo números" class="form-control" type="number">
							<span th:if="${#fields.hasErrors('telefono')}"
								th:errors="*{telefono}">Error Celular</span>
						</div>
					</div>

					<br>
					<div class="row">
						<div class="col">
							<label>Nombre contacto Emergencia</label> <input
								id="nombre_contacto_emergencia"
								th:field="*{nombre_contacto_emergencia}" placeholder="Ingrese el nombre de contacto de emergencia acá" class="form-control"
								type="text"> <span
								th:if="${#fields.hasErrors('nombre_contacto_emergencia')}"
								th:errors="*{nombre_contacto_emergencia}">Error Nombre
								contacto emergencia</span>
						</div>
						<div class="col">
							<label>Teléfono emergencia</label> <input
								id="telefono_emergencia"  placeholder="Número de celular sin el +56 9" th:field="*{telefono_emergencia}"
								class="form-control" type="number"> <span
								th:if="${#fields.hasErrors('telefono_emergencia')}"
								th:errors="*{telefono_emergencia}">Error Telefono
								Emergencia</span>
						</div>
						<div class="col"></div>
					</div>
					<br>
					<div class="row">
						<div class="col">
							<label>Religión</label> <select id="religion"
								th:field="*{religion}" class="form-select">
								<option th:value="'Bahaísmo'">Bahaísmo</option>
								<option th:value="'Budismo'">Budismo</option>
								<option th:value="'Candomblé'">Candomblé</option>
								<option th:value="'Cao Đài (Caodaísmo)'">Cao Đài
									(Caodaísmo)</option>
								<option th:value="'Catolicismo'">Catolicismo</option>
								<option th:value="'Cheondoísmo'">Cheondoísmo</option>
								<option th:value="'Cristianismo'">Cristianismo</option>
								<option th:value="'Evangelismo'">Evangelismo</option>
								<option th:value="'Hinduismo'">Hinduismo</option>
								<option th:value="'Islam'">Islam</option>
								<option th:value="'Jainismo'">Jainismo</option>
								<option th:value="'Johrei'">Johrei</option>
								<option th:value="'Judaísmo'">Judaísmo</option>
								<option th:value="'Religión tradicional china'">Religión
									tradicional china</option>
								<option th:value="'Santería'">Santería</option>
								<option th:value="'Sijismo'">Sijismo</option>
								<option th:value="'Sin religión'">Sin religión</option>
								<option th:value="'Sintoísmo'">Sintoísmo</option>
								<option th:value="'Tenrikyo'">Tenrikyo</option>
								<option th:value="'Testigo de Jehová'">Testigo de
									Jehová</option>
								<option th:value="'Vudú'">Vudú</option>
								<option th:value="'Wicca'">Wicca</option>
								<option th:value="'Yazidismo'">Yazidismo</option>
							</select>
						</div>
						<div class="col">
							<label>¿Acepta clases de religión en el colegio?</label><br>
							<input id="acepta_clases_religion"
								th:field="*{acepta_clases_religion}"
								name="acepta_clases_religion" value="True" type="radio">Si
							&nbsp; <input id="acepta_clases_religion"
								th:field="*{acepta_clases_religion}"
								name="acepta_clases_religion" value="False" type="radio">No
							<span th:if="${#fields.hasErrors('acepta_clases_religion')}"
								th:errors="*{acepta_clases_religion}">Error Acepta Clases
								Religion</span>
						</div>
						<div class="col text-end">

							<br>
						</div>
						<br>
						<div class="row">
							<div class="col text-end">
							</div>
						</div>
					</div>
				</div>

				<div class="tab-pane fade" id="profile-tab-pane" role="tabpanel"
					aria-labelledby="profile-tab" tabindex="2">

					<h2>Antecedentes Escolares</h2>
					<br>
					<div class="row">

						<div class="col">
							<label>Colegio procedencia</label> <label class="text-danger">Colegio
								de dónde viene</label> <input type="text" placeholder="Ingrese el nombre del colégio " class="form-control"
								id="colegio_procedencia" th:field="*{colegio_procedencia}">
								<span th:if="${#fields.hasErrors('colegio_procedencia')}" th:errors="*{colegio_procedencia}">Error colegio procedencia</span>
						</div>
						<div class="col">
							<input id="fecha_matricula" th:field="*{fecha_matricula}" class="form-control" type="hidden">
						</div>
						<div class="col"></div>
					</div>
					<br>
					<div class="row">
						<div class="col">
							<label>Beca</label> <select id="beca" th:field="*{beca}"
								class="form-select">
								<option th:value="'Ninguna'">Ninguna</option>
								<option th:value="'Beca indigena'">Beca indigena</option>
								<option th:value="'Beca de apoyo a la retención escolar (BARE)'">Beca
									de apoyo a la retención escolar (BARE)</option>
								<option th:value="'Presidente de la república'">Presidente
									de la república</option>
								<option th:value="'SUF (subsidio único familiar)'">SUF
									(subsidio único familiar)</option>
								<option th:value="'Programa puente'">Programa puente</option>
								<option th:value="'Chile solidario'">Chile solidario</option>
							</select>
						</div>
						<div class="col">
							<label>¿Cuántos computadores hay en casa?</label> <input
								id="cantidad_computadores_casa"
								th:field="*{cantidad_computadores_casa}" placeholder="Ingrese la cantidad acá" type="number"
								class="form-control">
								<span th:if="${#fields.hasErrors('cantidad_computadores_casa')}" th:errors="*{cantidad_computadores_casa}">Error cuantos computadores en casa</span>
						</div>
						<div class="col text-end"></div>
					</div>
					<br>
					<div class="row">
						<div class="col">
						</div>
					</div>
					<br> <br>
				</div>

				<div class="tab-pane fade" id="contact-tab-pane" role="tabpanel"
					aria-labelledby="contact-tab" tabindex="3">

					<h2>Antecedentes de Salud</h2>
					<br>
					<div class="row">
						<div class="col">
							<label>Estatura</label> <input id="estatura"
								th:field="*{estatura}" placeholder="Ingrese la estatura en centimetros" class="form-control" type="number">
								<span th:if="${#fields.hasErrors('estatura')}" th:errors="*{estatura}">Error estatura</span>
						</div>
						<div class="col">
							<label>Peso</label> <input id="peso" th:field="*{peso}"
								class="form-control" placeholder="Ingrese el peso en Kilogramos" type="number">
								<span th:if="${#fields.hasErrors('peso')}" th:errors="*{peso}">Error peso</span>
						</div>
						<div class="col">
							<label>Grupo sanguíneo <span class="text-danger">*</span></label>
							<select id="grupo_sanguineo" th:field="*{grupo_sanguineo}"
								class="form-select">
								<option th:value="'A -'">A -</option>
								<option th:value="'A +'">A +</option>
								<option th:value="'B -'">B -</option>
								<option th:value="'B +'">B +</option>
								<option th:value="'AB -'">AB -</option>
								<option th:value="'AB +'">AB +</option>
								<option th:value="'O -'">O -</option>
								<option th:value="'O +'">O +</option>
							</select>
						</div>
					</div>
					<br> <br>
					<div class="row">
						<div class="col">
							<label>Alergias a alimentos</label> <input
								id="alergias_alimentos" placeholder="Ingrese el nombre de las alergias" th:field="*{alergias_alimentos}"
								class="form-control" type="text">
						</div>
						<div class="col">
							<label>Alergias a medicamentos</label> <input
								id="alergias_medicamentos" placeholder="Ingrese el nombre de las alergias" th:field="*{alergias_medicamentos}"
								class="form-control" type="text">
						</div>
						<div class="col">
							<label>Medicamentos Contraindicados</label> <input
								id="medicamentos_contraindicados" placeholder="Ingrese el nombre de los medicamentos"
								th:field="*{medicamentos_contraindicados}" class="form-control"
								type="text">
						</div>
					</div>
					<br> <br>
					<div class="row">
						<div class="col">
							<label>Enfermedades crónicas</label> <select
								id="enfermedades_cronicas" th:field="*{enfermedades_cronicas}"
								class="form-select">
								<option th:value="VISUAL">VISUAL</option>
								<option th:value="AUDITIVO">AUDITIVO</option>
								<option th:value="CARDIACO">CARDIACO</option>
								<option th:value="LUMBAR">LUMBAR</option>
								<option th:value="RESPIRATORIO">RESPIRATORIO</option>
								<option th:value="OTROS">OTROS</option>
								<option th:value="NINGUNA">NINGUNA</option>
							</select>
						</div>
						<div class="col">
							<label>¿Cuenta con vacuna COVID 19?</label><br> <input
								id="vacuna_covid" th:field="*{vacuna_covid}" value="True"
								class="form-radio" type="radio">&nbsp;Si &nbsp; <input
								id="vacuna_covid" th:field="*{vacuna_covid}" value="False"
								class="form-radio" type="radio">No
								<span th:if="${#fields.hasErrors('vacuna_covid')}" th:errors="*{vacuna_covid}">Error cuenta con vacunas covid</span>
						</div>
						<div class="col">
							<label>¿Cantidad de vacunas COVID 19?</label> <input
								id="cantidad_vacunas_covid" th:field="*{cantidad_vacunas_covid}"
								class="form-control" placeholder="Ingrese la cantidad acá" type="number">
						</div>
					</div>
					<br> <br>
					<div class="row">
						<div class="col">
							<label>¿Esquema completo de vacunación COVID 19?</label><br>
							<input class="form-radio" id="esquema_completo_vacunacion_covid"
								value="True" th:field="*{esquema_completo_vacunacion_covid}"
								type="radio">&nbsp;Si &nbsp; <input class="form-radio"
								id="esquema_completo_vacunacion_covid" value="False"
								th:field="*{esquema_completo_vacunacion_covid}" type="radio">No
						</div>
						<div class="col">
							<label>¿Fecha última vacuna COVID 19?</label> <input
								id="fecha_ultima_vacuna_COVID"
								th:field="*{fecha_ultima_vacuna_COVID}" class="form-control"
								type="date">
						</div>
						<div class="col">
							<label>¿Es apto para Educación Física?</label><br> <input
								id="apto_educacion_fisica" value="True"
								th:field="*{apto_educacion_fisica}" class="form-radio"
								type="radio">&nbsp;Si &nbsp; <input
								id="apto_educacion_fisica" value="False"
								th:field="*{apto_educacion_fisica}" class="form-radio"
								type="radio">No
								<span th:if="${#fields.hasErrors('apto_educacion_fisica')}" th:errors="*{apto_educacion_fisica}">Error apto educación física</span>
						</div>
					</div>
					<br> <br>
					<div class="row">
						<div class="col">
							<label>Sistema previsión</label> <select id="sistema_prevision"
								th:field="*{sistema_prevision}" class="form-select">
								<option th:value="'Dipreca'">Dipreca</option>
								<option th:value="'Isapre'">Isapre</option>
								<option th:value="'Fonasa'">Fonasa</option>
								<option th:value="'Otros'">Otros</option>
								<option th:value="'Capredena'">Capredena</option>
								<option th:value="'Fonasa A'">Fonasa A</option>
								<option th:value="'Fonasa B'">Fonasa B</option>
								<option th:value="'Fonasa C'">Fonasa C</option>
								<option th:value="'Fonasa D'">Fonasa D</option>
								<option th:value="'Banmedica S.A'">Banmedica S.A</option>
								<option th:value="'Colmena Golden Cross S.A'">Colmena
									Golden Cross S.A</option>
								<option th:value="'Consalud S.A'">Consalud S.A</option>
								<option th:value="'Cruz Blanca S.A'">Cruz Blanca S.A</option>
								<option th:value="'Nueva MasVida S.A'">Nueva MasVida
									S.A</option>
								<option th:value="'Vida Tres S.A'">Vida Tres S.A</option>
							</select>
						</div>
						<div class="col">
							<label>¿Posee seguro escolar privado?</label><br> <input
								class="form-radio" value="True" id="seguro_escolar_privado"
								th:field="*{seguro_escolar_privado}" type="radio">&nbsp;Si
							&nbsp; <input class="form-radio" value="False"
								id="seguro_escolar_privado" th:field="*{seguro_escolar_privado}"
								type="radio">No
								<span th:if="${#fields.hasErrors('seguro_escolar_privado')}" th:errors="*{seguro_escolar_privado}">Error posee seguro escolar</span>
						</div>
						<div class="col">
							<label>Consultorio o clínica donde se atiende</label> <input
								id="consultorio_clinica" th:field="*{consultorio_clinica}"
								class="form-control" placeholder="Ingrese el nombre del consultorio o clínica" type="text">
								<span th:if="${#fields.hasErrors('consultorio_clinica')}" th:errors="*{consultorio_clinica}">Error consultorio o clinica</span>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col">
							<label>¿Pertenece al programa PIE?</label><br> <input
								id="es_pie" th:field="*{es_pie}" value="True" type="radio"
								class="form-radio" /> Si &nbsp; <input id="es_pie"
								th:field="*{es_pie}" value="False" type="radio"
								class="form-radio" /> NO
								<span th:if="${#fields.hasErrors('es_pie')}" th:errors="*{es_pie}">Error pertenece programa pie</span>
						</div>
						<div class="col"></div>
						<div class="col"></div>
					</div>
					<br>
					<div class="row">
						<div class="col">
							<label>Observaciones Médicas</label>
							<textarea id="message" name="message" maxlength="250" th:field="*{observaciones}" placeholder="Ingrese observaciones especificas que se necesiten conocer del estudiante." rows="5"
								class="form-control" cols=""></textarea>
							<span class="help-block">
							<p id="mensaje_ayuda" class="help-block">Cuerpo del mensaje de alerta</p>
							</span>	
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col"></div>
						<div class="col"></div>
						<div class="col text-end">
							<br>
							<button type="button" class="btn btn-primary"
								data-bs-toggle="modal" data-bs-target="#avanzarapoderadosModal">
								Avanzar al ingreso de apoderados</button>
						</div>
					</div>
					<br>
				</div>
			</div>
		<br><br>
		</div>

		<input type="hidden" th:field="*{estado}"> <input
			type="hidden" th:field="*{establecimiento_id}"> <input
			type="hidden" th:field="*{numero_matricula}"> <br>
		<br>
		<br>
		<br>
		<br>
		<br>

		<!-- Modal -->
		<div class="modal fade" id="avanzarapoderadosModal" tabindex="-1"
			aria-labelledby="avanzarapoderadosModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-body">¿Estás seguro de que quieres avanzar
						al proceso de ingreso de los apoderados?</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-bs-dismiss="modal">Cerrar</button>
						<input type="submit" class="btn btn-primary"
							value="Pasar al Ingreso de apoderados">
					</div>
				</div>
			</div>
		</div>
	</form>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>

<script type="text/javascript">

$('#mensaje_ayuda').text('250 carácteres restantes');
$('#message').keydown(function () {
    var max = 250;
    var len = $(this).val().length;
    if (len >= max) {
        $('#mensaje_ayuda').text('Has llegado al límite');// Aquí enviamos el mensaje a mostrar          
        $('#mensaje_ayuda').addClass('text-danger');
        $('#message').addClass('is-invalid');
        $('#inputsubmit').addClass('disabled');    
        document.getElementById('inputsubmit').disabled = true;                    
    } 
    else {
        var ch = max - len;
        $('#mensaje_ayuda').text(ch + ' carácteres restantes');
        $('#mensaje_ayuda').removeClass('text-danger');            
        $('#message').removeClass('is-invalid');            
        $('#inputsubmit').removeClass('disabled');
        document.getElementById('inputsubmit').disabled = false;            
    }
}); 

</script>



</body>
</html>