<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Libro de clases online</title>
<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css"
	crossorigin="anonymous" />
<link href="/css/sidebars.css" rel="stylesheet" type="text/css"
	crossorigin="anonymous" />
<script type="text/javascript" src="/js/sidebars.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
	integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
<script>
        // Almacenar el historial de navegación para detectar el botón de atrás
        window.history.pushState(null, "", window.location.href);        
        window.onpopstate = function() {
            window.history.pushState(null, "", window.location.href);
            alert("No puedes volver atrás en esta página.");
        };
</script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
<link href="/css/estilos.css" rel="stylesheet" type="text/css" crossorigin="anonymous" />
</head>
<body class="pt-sans-regular">

	<nav class="navbar bg-dark border-bottom border-body"
		data-bs-theme="dark">
	<div>
		<a th:href="@{/}"  data-toggle="tooltip" data-placement="bottom" title="volver a inicio" class="btn btn-outline-light  border-dark" aria-disabled="true"><i class="fa-solid fa-house-chimney"></i></a> <span class="text-light" th:text="${establecimientoSesion.nombre}"></span>
	</div>

		<div class="d-flex justify-content-end">
			<a class="btn btn-outline-danger" th:href="@{/cerrarSesion}"><i
				class="fa-solid fa-power-off"></i>&nbsp;Cerrar Sesión</a>
		</div>
	</nav>

	<br>
	<br>
	<form method="POST"
		th:action="@{/matricula/ingresar/programa_integracion}"
		th:object="${programa_integracion}">
		<div class="container">
			<h1 class="">Ingresar Datos PIE</h1>
			<br> <br>
			<br>
			<ul class="nav nav-tabs" id="myTab3" role="tablist">
				<li class="nav-item" role="presentation">
					<button class="nav-link" id="pie-tab" data-bs-toggle="tab"
						data-bs-target="#pie-tab-pane" type="button" role="tab"
						aria-controls="pie-tab-pane" aria-selected="false">PIE</button>
				</li>
			</ul>
			<br>
			<br>

			<div class="tab-content" id="myTabContent3">
				<div class="tab-pane fade show active" id="pie-tab-pane"
					role="tabpanel" aria-labelledby="pie-tab" tabindex="5">
					<br>

					<div class="row">
						<div class="col">
							<label class="">Pertenece al programa PIE</label><br> <input
								type="radio" name="permanencia_pie"
								th:field="*{permanencia_pie}" value="True" class="form-radio">Si
							&nbsp; <input type="radio" name="permanencia_pie"
								th:field="*{permanencia_pie}" value="False" class="form-radio">No
								<span th:if="${#fields.hasErrors('permanencia_pie')}" th:errors="*{permanencia_pie}">Error Permanencia Pie</span>
						</div>
						<div class="col">
							<label class="">Tipo de permanencia</label> <select
								id="tipo_permanencia" th:field="*{tipo_permanencia}"
								class="form-select">
								<option th:value="Transitorio">Transitorio</option>
								<option th:value="Permanente">Permanente</option>
							</select>
						</div>
						<div class="col"></div>
					</div>
					<br>
					<div class="row">
						<div class="col">
							<label>Detalle de diagnóstico del programa PIE</label><br>
							<textarea id="indicaciones_generales"
								th:field="*{indicaciones_generales}" class="form-control"
								rows="10" cols="120"></textarea>
						</div>
					</div>
					<br>
					<br>
					<br>
					<div class="row">
						<div class="col"></div>
						<div class="col text-end">
							<button type="button" class="btn btn-danger"
								data-bs-toggle="modal" data-bs-target="#exampleModal">
								Cancelar Proceso</button>
							<button type="button" class="btn btn-success"
								data-bs-toggle="modal" data-bs-target="#guardarModal">
								Ingresar Matrícula</button>
						</div>
					</div>
					<br>

				</div>
			</div>
		</div>
		<div class="d-none">
			<select name="estudiante_id" th:field="*{estudiante_id}">
				<option th:value="${estudianteid}" th:text="${estudianteid}"></option>
			</select>
		</div>
		<!-- Modales -->
		<div class="modal fade" id="exampleModal" tabindex="-1"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-body">¿Estás seguro de que deseas cancelar
						el proceso de matrícula?</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-bs-dismiss="modal">Cerrar</button>
						<a th:href="@{/matricula}" type="button" class="btn btn-danger">Cancelar
							proceso matrícula</a>
					</div>
				</div>
			</div>
		</div>

		<!-- Modales -->
		<div class="modal fade" id="guardarModal" tabindex="-1"
			aria-labelledby="guardarModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-body">¿Estás seguro que deseas ingresar la
						matrícula?</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-bs-dismiss="modal">Cerrar</button>
						<input type="submit" value="Generar Matrícula"
							class="btn btn-success" />
					</div>
				</div>
			</div>
		</div>

	</form>

</body>
</html>