<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Libro de clases online</title>
<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" crossorigin="anonymous" />
<link href="/css/sidebars.css" rel="stylesheet" type="text/css" crossorigin="anonymous" />
<script type="text/javascript" src="/js/sidebars.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
	<div>
		<a class="nav-link link-light" aria-disabled="true">&nbsp;&nbsp;<i class="fa-solid fa-school"></i>&nbsp;NOMBRE ESCUELA</a>
	</div>
	
	<div class="d-flex justify-content-end">
		<a th:href="@{/}" class="btn btn-outline-light  border-dark" aria-disabled="true"><i class="fa-solid fa-house-chimney"></i></a>&nbsp;&nbsp;
		<a class="btn btn-outline-danger" th:href="@{/login}"><i class="fa-solid fa-power-off"></i>&nbsp;Cerrar Sesión</a>
	</div>
</nav>
<br>
		&nbsp;&nbsp;<a class="btn text-danger" th:href="@{/matricula}"><i class="fa-sharp fa-solid fa-chevron-left"></i>&nbsp; Matrículas</a>	
<br><br>
<div class="container">
	<h1>Ingresar Matrícula</h1>
	<br><br>
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Antecedentes Personales</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Antecedentes Escolares</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">Antecedentes de Salud</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="disabled-tab" data-bs-toggle="tab" data-bs-target="#disabled-tab-pane" type="button" role="tab" aria-controls="disabled-tab-pane" aria-selected="false">Antecedentes Familiares</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="pie-tab" data-bs-toggle="tab" data-bs-target="#pie-tab-pane" type="button" role="tab" aria-controls="pie-tab-pane" aria-selected="false">PIE</button>
  </li>
</ul>
<br>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
  <h2>Antecedentes personales</h2>
  <br>
  <div class="row">
  	<div class="col">
  		<label>RUT<span class="text-danger">&nbsp;*(sin puntos y con guion)</span></label>
  		<input class="form-control" type="text" >
  	</div>
  	<div class="col">
  		<label>Apellido Paterno <span class="text-danger">*</span></label>
  		<input class="form-control" type="text">
  	</div>
  	<div class="col">
  		<label>Apellido Materno</label>
  		<input class="form-control" type="text">
  	</div>
  </div>
  <br>
    <div class="row">
  	<div class="col">
  		<label>Nombres <span class="text-danger">*</span></label>
  		<input class="form-control" type="text" >
  	</div>
  	<div class="col">
  		<label>Nombre social <span class="text-danger">*</span></label>
  		<input class="form-control" type="text">
  	</div>
  	<div class="col">
  		<label>Fecha Nacimiento <span class="text-danger">*</span></label>
  		<input class="form-control" type="date">
  	</div>
  </div>
    <br>
    <div class="row">
  	<div class="col">
  		<label>Género</label>
  		<select class="form-select">
  			<option>OTRO</option>
  			<option>FEMENINO</option>
  			<option>MASCULINO</option>
  		</select>
  	</div>
  	<div class="col">
  		<label>Nacionalidad</label>
  		<select class="form-select">
  			<option>CHILENA</option>
  			<option>PERUANA</option>
  			<option>VENEZOLANA</option>
  			<option>COLOMBIANA</option>
  			<option>MEXICANA</option>
  			<option>HAITIANA</option>
  			<option>OTRO</option>
  			<option>BOLIVIANA</option>
  			<option>ARGENTINA</option>
  		</select>
  	</div>
  	<div class="col">
  		<label>Ciudad de Nacimiento</label>
  		<input class="form-control" type="text">
  	</div>
  </div>
  
    <br>
    <div class="row">
  	<div class="col">
  		<label>Vive con</label>
  		<select class="form-select">
  			<option>AMBOS PADRES</option>
  			<option>SÓLO PADRE</option>
  			<option>SÓLO MADRE</option>
  			<option>ABUELOS</option>
  			<option>HERMANOS</option>
  			<option>TÍOS</option>
  			<option>OTROS</option>
  		</select>
  	</div>
  	<div class="col">
  		<label>Dirección</label>
  		<input class="form-control" type="text">
  	</div>
  	<div class="col">
  		<label>Comuna</label>
  		  <select class="form-select">
  			<option>Otro</option>
  		</select>
  	</div>
  </div>
  
    <br>
    <div class="row">
  	<div class="col">
  		<label>Etnia</label>
  		<select class="form-select">
  			<option>ALACALUFE</option>
  			<option>ATACAMEÑO</option>
  			<option>AYMARA</option>
  			<option>COLLA</option>
  			<option>MAPUCHE</option>
  			<option>QUECHUA</option>
  			<option>RAPANUI</option>
  			<option>OTRO</option>
  			<option>YAMANA</option>
  			<option>NINGUNO</option>
  			<option>DIAGUITA</option>
  		</select>
  	</div>
  	<div class="col">
  		<label>Teléfono Celular</label>
  		<input class="form-control" type="number">
  	</div>
  	<div class="col">
  		<label>Teléfono Fijo</label>
		<input class="form-control" type="number">
  	</div>
  </div>
  
    <br>
    <div class="row">
  	<div class="col">
  		<label>Email</label>
  		<input class="form-control" type="email">
  	</div>
  	<div class="col">
  		<label>Nombre contacto Emergencia</label>
  		<input class="form-control" type="text">
  	</div>
  	<div class="col">
  		<label>Teléfono emergencia</label>
		<input class="form-control" type="number">
  	</div>
  </div>
  
      <br>
    <div class="row">
  	<div class="col">
  		<label>Profesor Religión</label>
  		<select class="form-select">
  			<option>Bahaísmo</option>
  			<option>Budismo</option>
  			<option>Candomblé</option>
  			<option>Cao Đài (Caodaísmo)</option>
  			<option>Catolicismo</option>
  			<option>Cheondoísmo</option>
  			<option>Cristianismo</option>
  			<option>Evangelismo</option>
  			<option>Hinduismo</option>
  			<option>Islam</option>
  			<option>Jainismo</option>
  			<option>Johrei</option>
  			<option>Judaísmo</option>
  			<option>Religión tradicional china</option>
  			<option>Santería</option>
  			<option>Sijismo</option>
  			<option>Sin religión</option>
  			<option>Sintoísmo</option>
  			<option>Tenrikyo</option>
  			<option>Testigo de Jehová</option>
  			<option>Vudú</option>
  			<option>Wicca</option>
  			<option>Yazidismo</option>
  		</select>
  	</div>
  	<div class="col">
  		<label>¿Acepta clases de religión en el colegio?</label><br>
  		<input id="acepta_clases_religion" name="acepta_clases_religion" value="True"  type="radio">Si &nbsp;
  		<input id="acepta_clases_religion" name="acepta_clases_religion" value="False" type="radio">No
  	</div>
  	<div class="col text-end">
  		<br>
		<a class="btn btn-primary">Siguiente</a>
  	</div>
  </div>
  
  
  </div>
  <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
  	<h2>Antecedentes Escolares</h2>
  	  <br>
	  <div class="row">
	  	<div class="col">
	  		<label>Nivel de enseñanza</label>
	  		<input class="form-control" type="text" >
	  	</div>
	  	<div class="col">
	  		<label>Curso</label>
	  		<input class="form-control" type="text">
	  	</div>
	  	<div class="col">
	  		<label>Fecha matrícula <span class="text-danger">*</span></label>
	  		<input class="form-control" type="date">
	  	</div>
	  </div>
	  <br>
	  <div class="row">
	  	<div class="col">
	  		<label>N° matrícula </label>
	  		<input class="form-control" type="number" >
	  	</div>
	  	<div class="col">
	  		<label>Colegio procedencia</label>
	  		<label class="text-danger">Colegio de donde viene</label>
	  	</div>
	  	<div class="col">
	  		<label>Condición</label>
	  		<select class="form-select">
  				<option>Alumno prioritario</option>
  				<option>Alumno preferente</option>
  				<option>Sin condición</option>
  			</select>
	  	</div>
	  </div>
	  <br>
	  <div class="row">
	  	<div class="col">
	  		<label>Conectividad del estudiante</label>
			<select class="form-select">
  				<option>No tiene</option>
  				<option>Internet del Celular</option>
  				<option>Wifi</option>
  				<option>Wifi + Internet del Celular</option>
  			</select>
	  	</div>
	  	<div class="col">
	  		<label>Estudiante excedente</label>
	  		<br>
	  		<input class="form-checkox" type="checkbox">
	  	</div>
	  	<div class="col">
	  		<label>Número de resolución</label>
	  		<input class="form-control" type="text" disabled>
	  	</div>
	  </div>
	  <br>
	  <div class="row">
	  	<div class="col">
	  		<label>Fecha de resolución</label>
	  		<input class="form-control" type="date" disabled>
	  	</div>
	  	<div class="col">
	  		<label>¿Cuántos computadores hay en casa?</label>
			<input type="number" class="form-control">
	  	</div>
	  	<div class="col">
	  		<label>Tipo de beca</label>
			<select class="form-select">
  				<option>Beca indigena</option>
  				<option>Beca de apoyo a la retención escolar (BARE)</option>
  				<option>Presidente de la república</option>
  				<option>SUF (subsidio único familiar)</option>
  				<option>Programa puente</option>
  				<option>Chile solidario</option>
  			</select>
	  	</div>
	  </div>
	  <br>
	  	  <div class="row">
	  	<div class="col">
	  	</div>
	  	<div class="col">
	  	</div>
	  	<div class="col text-end">
	  		<a class="btn btn-primary">Siguiente</a>
	  	</div>
	  </div>
	  <br>
  </div>
  <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
  	<h2>Antecedentes de Salud</h2>
  	  	  <br>
	  <div class="row">
	  	<div class="col">
	  		<label>Estatura</label>
	  		<input class="form-control" type="number" >
	  	</div>
	  	<div class="col">
	  		<label>Peso</label>
	  		<input class="form-control" type="number">
	  	</div>
	  	<div class="col">
	  		<label>Grupo sanguíneo <span class="text-danger">*</span></label>
	  		<select class="form-select">
	  			<option>A -</option>
	  			<option>A +</option>
	  			<option>B -</option>
	  			<option>B +</option>
	  			<option>AB -</option>
	  			<option>AB +</option>
	  			<option>O -</option>
	  			<option>O +</option>
	  		</select>
	  	</div>
	  </div>
	  <br>
	    	  <br>
	  <div class="row">
	  	<div class="col">
	  		<label>Alergias a alimentos</label>
	  		<input class="form-control" type="text" >
	  	</div>
	  	<div class="col">
	  		<label>Alergias a medicamentos</label>
	  		<input class="form-control" type="text">
	  	</div>
	  	<div class="col">
	  		<label>Medicamentos Contraindicados</label>
	  		<input class="form-control" type="text">
	  	</div>
	  </div>
	  <br>
	  <br>
	  <div class="row">
	  	<div class="col">
	  		<label>Enfermedades crónicas</label>
	  		<select class="form-select">
	  			<option>VISUAL</option>
	  			<option>AUDITIVO</option>
	  			<option>CARDIACO</option>
	  			<option>LUMBAR</option>
	  			<option>RESPIRATORIO</option>
	  			<option>OTROS</option>
	  			<option>NINGUNA</option>
	  		</select>
	  	</div>
	  	<div class="col">
	  		<label>¿Cuenta con vacuna COVID 19?</label><br>
	  		<input class="form-radio" type="radio">&nbsp;Si &nbsp;
	  		<input class="form-radio" type="radio">No 
	  	</div>
	  	<div class="col">
	  		<label>¿Cantidad de vacunas COVID 19?</label>
	  		<input class="form-control" type="number" disabled>
	  	</div>
	  </div>
	  <br>
	    	  <br>
	  <div class="row">
	  	<div class="col">
	  		<label>¿Esquema completo de vacunación COVID 19?</label>
	  			<input class="form-radio" type="radio">&nbsp;Si &nbsp;
	  			<input class="form-radio" type="radio">No 
	  	</div>
	  	<div class="col">
	  		<label>Fecha última vacuna COVID 19?</label>
	  		<input class="form-control" type="date">
	  	</div>
	  	<div class="col">
	  		<label>¿Es apto para Educación Física?</label>
	  		<input class="form-radio" type="radio">&nbsp;Si &nbsp;
	  		<input class="form-radio" type="radio">No 
	  	</div>
	  </div>
	  <br>
	    	  <br>
	  <div class="row">
	  	<div class="col">
	  		<label>Sistema previsión</label>
	  		<select class="form-select">
	  			<option>Dipreca</option>
	  			<option>Isapre</option>
	  			<option>Fonasa</option>
	  			<option>Otros</option>
	  			<option>Capredena</option>
	  			<option>Fonasa A</option>
	  			<option>Fonasa B</option>
	  			<option>Fonasa C</option>
	  			<option>Fonasa D</option>
	  			<option>Banmedica S.A</option>
	  			<option>Colmena Golden Cross S.A</option>
	  			<option>Consalud S.A</option>
	  			<option>Cruz Blanca S.A</option>
	  			<option>Nueva MasVida S.A</option>
	  			<option>Vida Tres S.A</option>
	  		</select>
	  	</div>
	  	<div class="col">
	  		<label>¿Posee seguro escolar privado?</label>
	  		<input class="form-radio" type="radio">&nbsp;Si &nbsp;
	  		<input class="form-radio" type="radio">No 
	  	</div>
	  	<div class="col">
	  		<label>Consultorio o clínica donde se atiende</label>
	  		<input class="form-control" type="text">
	  	</div>
	  </div>
	  <br>
	  	  <div class="row">
	  	  <label>Observaciones</label>
	  	  <textarea rows="5" class="form-control" cols=""></textarea>
	  	<div class="col">
	  	</div>
	  </div>
	  <br>
  </div>
  <div class="tab-pane fade" id="disabled-tab-pane" role="tabpanel" aria-labelledby="disabled-tab" tabindex="0">
  	<h2>Apoderados del Estudiante</h2>
  </div>
  <div class="tab-pane fade" id="pie-tab-pane" role="tabpanel" aria-labelledby="pie-tab" tabindex="0">
  	<h2>PIE</h2>
  </div>
</div>

</div>


<br><br><br><br><br><br>
</body>
</html>