<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Libro de clases online</title>
<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" crossorigin="anonymous" />
<link href="/css/sidebars.css" rel="stylesheet" type="text/css" crossorigin="anonymous" />
<script type="text/javascript" src="/js/sidebars.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
<link href="/css/estilos.css" rel="stylesheet" type="text/css" crossorigin="anonymous" />




<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" type="text/css" crossorigin="anonymous" />
<link href="/css/sidebars.css" rel="stylesheet" type="text/css" crossorigin="anonymous" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
<link href="/css/estilos.css" rel="stylesheet" type="text/css" crossorigin="anonymous" />


</head>
<body class="pt-sans-regular">
<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
	<div>
		<a th:href="@{/}"  data-toggle="tooltip" data-placement="bottom" title="volver a inicio" class="btn btn-outline-light  border-dark" aria-disabled="true"><i class="fa-solid fa-house-chimney"></i></a> <span class="text-light" th:text="${establecimientoSesion.nombre}"></span>
	</div>
	<div class="d-flex justify-content-end">
		<a class="btn btn-outline-danger shadow" th:href="@{/cerrarSesion}" data-toggle="tooltip" data-placement="bottom" title="Presione para cerrar la sesión"><i class="fa-solid fa-power-off"></i>&nbsp;Cerrar Sesión</a>
	</div>
</nav>
<div class="container">
	<div class="col-md-4 mt-5">
		<div class="alert alert-success" th:if="${success} != null" th:text="${success}"></div>	
	</div>
	<h1 class=""><span><a class="btn"  th:href="@{/}" data-toggle="tooltip" data-placement="bottom" title="Volver a inicio"><i class="fa-sharp fa-solid fa-chevron-left"></i></a></span> Matrícula</h1>
	<div class="d-flex justify-content-end">
		<a th:href="@{/programa/pie}" class="btn btn-warning text-light shadow" data-toggle="tooltip" data-placement="bottom" title="Ingresar estudiante a programa Pie">+ Programa Pie</a> &nbsp;&nbsp;
		<a th:href="@{/matricula/ingresar}" class="btn btn-danger shadow" data-toggle="tooltip" data-placement="bottom" title="Ingresar matrícula">+ Matricular Estudiante</a>
	</div>
	<br>
</div>
<div class="container">
	<div class="row g-3 align-items-center">
		<div class="col-auto">
			<div class="row">
				<div class="col">
				<form id="filtroForm" action="#" th:action="@{/filtrarcurso}" method="post" th:object="${filtrocurso}">
					<label class="fw-bold">Curso</label>
					<select id="filtroSelect" class="form-select shadow" name="filtrocurso" >
						<option th:value="0">Seleccione...</option>
						<option class="text-uppercase" th:each="c : ${cursos}" th:value="${c.id_curso}" th:text="${c.nivel} + ' ' + ${c.letra}" th:selected="${c.id_curso == filtrocurso}"></option>
					</select>
					</form>
				</div>
			</div>
		</div>
		<div class="col-auto">
		<label class="fw-bold">Estado</label>
			<form id="filtroForm2" action="#" th:action="@{/filtrarestado}" method="post" th:object="${filtroestado}">
				<select id="selectestado" name="filtroestado" class="form-select shadow">
					<option value=""  >Seleccione...</option>
					<option value="matriculado"  th:value="matriculado" th:selected=" True == filtroestado">Matriculado</option>
					<option value="retirado" th:value="retirado" th:selected=" False == filtroestado">Retirado</option>
				</select>
			</form>
		</div>
		<div class="col-auto">
			<div class="row g-2">
				<div class="col-auto">
					<form action="#" th:action="@{/filtrarnombre}" method="post">
					<label class="fw-bold">Búsqueda por nombre</label>
				    	<input class="form-control shadow" name="filtronombre"   id="filtronombre" th:value="${filtronombre}" placeholder="Buscar Estudiante">
				 	</form>
				 </div>
				 <div class="col-auto">
					<form action="#" th:action="@{/filtrarrut}" method="post">
					<label class="fw-bold">Búsqueda por Rut</label>
				    	<input class="form-control shadow" name="filtrorut"   id="filtrorut" th:value="${filtrorut}" placeholder="Sin puntos y con guíon">
				 	</form>
				 </div>
				 <div class="col-auto">
				 	<label class="fw-bold">Refresque</label><br>
					<a class="btn btn-warning shadow" th:href="@{/matricula}" data-toggle="tooltip" data-placement="bottom" title="Refrescar"><i class="fa-solid fa-arrows-rotate"></i></a>
				 </div>	
			</div>
		</div>
	</div>
</div>
<br><br><br>
<div class="container text-center">
	<label class="h6">Total matrículados: <span class="fw-bold" th:text="${matriculados}"></span></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<label class="h6">Total hombres: <span class="fw-bold" th:text="${hombres}"></span></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<label class="h6">Total mujeres: <span class="fw-bold" th:text="${mujeres}"></span></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<label class="h6">Total otros: <span class="fw-bold" th:text="${otros}"></span></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</div>
<br>
<div class="container">
	<div class="d-flex justify-content-end">
		<a href="#" class="btn btn-info disabled" data-toggle="tooltip" data-placement="bottom" title="PRÓXIMAMENTE">Carga N° Matrículas</a>
	</div>
	<br>
	<table id="tablacontenido" class="table table-hover table-bordered text-center border rounded container shadow">
		<thead class="table ">
			<tr>
				<th class="fw-bold">N° matrícula</th>
				<th class="fw-bold">RUN</th>
				<th class="fw-bold">Nombre</th>
				<th class="fw-bold">PIE</th>
				<th class="fw-bold">Nivel</th>
				<th class="fw-bold">Letra</th>
				<th class="fw-bold">Nivel de enseñanza</th>
				<th class="fw-bold">Acepta Religión</th>
				<th class="fw-bold">Estado</th>
				<th class="fw-bold">Acciones</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="e : ${estudiantes}">
				<td th:text="${e.numero_matricula}"></td>
				<td th:if="${e.estado} == True" th:text="${e.runEstudiante}"></td>
				<td th:if="${e.estado} == False" class="text-danger"><del th:text="${e.runEstudiante}"></del></td>
				<td th:if="${e.estado} == True" th:text="${e.nombre} + ' ' + ${e.apaterno} + ' ' + ${e.amaterno}"></td>
				<td th:if="${e.estado} == False" class="text-danger"><del th:text="${e.nombre} + ' ' + ${e.apaterno} + ' ' + ${e.amaterno}"></del>l</td>
				<td  th:if="${e.es_pie} == True" ><span class="text-success"><i class="fa-solid fa-check"></i></span></td>
				<td  th:if="${e.es_pie} == False" ><span class="text-danger"><i class="fa-solid fa-x"></i></span></td>
				<td th:each="c : ${cursos}" th:if="${c.id_curso == e.curso_id}" th:text="${c.nivel}"></td>
				<td th:each="c : ${cursos}" th:if="${c.id_curso == e.curso_id}" th:text="${c.letra}"></td>
				<td th:each="c : ${cursos}" th:if="${c.id_curso == e.curso_id}" th:text="${c.nivel_ensenanza}"></td>
				<td th:if="${e.acepta_clases_religion} == True" th:text="Si"></td>
				<td th:if="${e.acepta_clases_religion} == False" th:text="No"></td>
				<td th:if="${e.estado} == True" class="text-success rounded"  th:text="Matriculado"></td>
				<td th:if="${e.estado} == False" class="text-danger rounded"><del>Retirado</del></td>
				<td>
							<a th:href="@{/resumenMatricula/} + ${e.runEstudiante}" class="btn btn-light" data-toggle="tooltip" data-placement="bottom" title="Ver matrícula en detalle"><i class="fa-regular fa-user"></i></a>
							<a th:href="@{/matricula/modificar/} + ${e.runEstudiante}" th:if="${e.estado} == True" class="btn btn-light" data-toggle="tooltip" data-placement="bottom" title="Editar"><i class="fa-solid fa-pencil"></i></a>
							<a th:href="@{/matricula/retirada/} + ${e.runEstudiante}" th:if="${e.estado} == True" class="btn btn-light" data-toggle="tooltip" data-placement="bottom" title="Retirar matrícula" ><i class="fa-solid fa-ban"></i></a>				
							<a th:href="@{/matricula/recuperada/} + ${e.runEstudiante}" th:if="${e.estado} == False" class="btn btn-light" data-toggle="tooltip" data-placement="bottom" title="Recuperar matrícula" ><i class="fa-solid fa-rotate"></i></a>
							<a th:href="@{/resumenMatricula/} + ${e.runEstudiante} + '?format=pdf'" target="_blank" class="btn btn-light" data-toggle="tooltip" data-placement="bottom" title="Descargar matrícula"><i class="fa-solid fa-file-arrow-down"></i></a>
				</td>
			</tr>		
		</tbody>
	</table>
</div>
<br><br><br><br>

<script>

document.addEventListener('DOMContentLoaded', function () {
    const confirmDeleteModal = document.getElementById('confirmDeleteModal');
    confirmDeleteModal.addEventListener('show.bs.modal', function (event) {
        const button = event.relatedTarget;
        const recordId = button.getAttribute('data-id');
        const url = button.getAttribute('data-url');
        
        const confirmDeleteButton = document.getElementById('confirmDeleteButton');
        confirmDeleteButton.setAttribute('href', url + recordId);
    });
});


	document.getElementById('filtroSelect').addEventListener('change', function() {
		document.getElementById('filtroForm').submit();
		
	});
	
	document.getElementById('selectestado').addEventListener('change', function() {
		document.getElementById('filtroForm2').submit();
	});
	
</script>


</body>
</html>