<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Libro de clases virtual School Life</title>
<link href="/css/Style.css" rel="stylesheet" type="text/css"
	crossorigin="anonymous" />
<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css"
	crossorigin="anonymous" />
<link href="/css/sidebars.css" rel="stylesheet" type="text/css"
	crossorigin="anonymous" />
<script type="text/javascript" src="/js/Script.js"></script>
<script type="text/javascript" src="/js/sidebars.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
	integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

	<div class="container">
		<ul class="nav justify-content-center">
			<li class="nav-item"><a class="nav-link disabled"
				aria-disabled="true">Bienvenido: Profesor</a></li>
			<li class="nav-item"><a class="nav-link"
				th:href="@{/profesor/login}">Volver</a></li>
		</ul>
	</div>

	<div class="container">
		<br>
		<br>
		<h2 class="text-center">Asistencias</h2>
		<br>
		<br><br>
		<br>
		<div class="container text-center">
			<table class="table table-hover text-center">
				<thead class="table-primary">
					<tr>
						<th>#</th>
						<th>ASISTENCIA</th>
						<th>FECHA</th>
						<th>ASIGNATURA</th>
						<th>OPCIONES</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="as : ${asistencias}">
						<td th:text="${as.id}"></td>
						<td th:text="${as.estado}"></td>
						<td th:text="${#calendars.format(as.fecha,'dd-MMMM-yyyy')}"></td>
						<td th:each="a : ${asignaturas}" th:if="${as.asignatura_id} == ${a.id}" th:text="${a.nombre}"></td>
						<td><a
							th:href="@{/profesor/asistencia/modificar/} + ${as.estudiante_id}"
							class="btn btn-secondary" data-toggle="tooltip"
							data-placement="bottom" title="Modificar Información"><i
								class="fa-regular fa-pen-to-square"></i></a></td>
					</tr>
				</tbody>
			</table>
		</div>

	</div>

</body>
</html>