<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Libro de clases virtual School Life</title>
<link href="/css/Style.css" rel="stylesheet" type="text/css"
	crossorigin="anonymous" />
<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css"
	crossorigin="anonymous" />
<link href="/css/sidebars.css" rel="stylesheet" type="text/css"
	crossorigin="anonymous" />
<script type="text/javascript" src="/js/Script.js"></script>
<script type="text/javascript" src="/js/sidebars.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
	integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

	<div class="container">
		<ul class="nav justify-content-center">
			<li class="nav-item"><a class="nav-link disabled"
				aria-disabled="true">Bienvenido: Profesor</a></li>
			<li class="nav-item"><a class="nav-link"
				th:href="@{/profesor/login}">Volver</a></li>
		</ul>
	</div>

	<div class="container">
		<br>
		<br>
		<h1>Asistencia por Asignatura</h1>
		<h5>Filtra la asistencia por las asginaturas correspondientes al profesor</h5>
		<br>
		<br>
		<div class="row g-3">
			<form action="#" th:action="@{/filtrar}" th:object="${filtro}"
				method="post">
				<div class="col-form-label">
					<select class="form-control" name="filtroAsignatura">
						<option th:each="as : ${asignaturaSelect}" th:value="${as.id}"
							th:text="${as.nombre}" ></option>
					</select>
				</div>
				<div class="col-auto">
					<input class="btn btn-success" type="submit" value="Filtrar">&nbsp <a th:href="@{/profesor/asistencia}" class="btn btn-dark">Limpiar</a>
				</div>
			</form>
		</div>
		<br>
		<br>

		<table class="table table-hover text-center">
			<thead>
				<tr>
					<th>#</th>
					<th>Fecha</th>
					<th>Estado</th>
					<th>Estudiante</th>
					<th>Rut</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="a : ${asistencias}">
					<td th:text="${a.id}"></td>
					<td th:text="${#calendars.format(a.fecha,'dd-MMMM-yyyy')}"></td>
					<td th:if="${a.estado} == True" th:text="PRESENTE"></td>
					<td th:if="${a.estado} == False" th:text="AUSENTE"></td>
					<td th:each="e : ${estudiantes}" th:if="${a.estudiante_id} == ${e.id}" th:text="${e.nombre} + ' ' + ${e.apaterno} + ' ' + ${e.amaterno}"></td>
					<td th:each="e : ${estudiantes}" th:if="${a.estudiante_id} == ${e.id}" th:text="${e.rut}"></td>
				</tr>
			</tbody>
		</table>
	</div>

</body>
</html>