<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Libro de clases virtual School Life</title>
<link href="/css/Style.css" rel="stylesheet" type="text/css"
	crossorigin="anonymous" />
<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css"
	crossorigin="anonymous" />
<link href="/css/sidebars.css" rel="stylesheet" type="text/css"
	crossorigin="anonymous" />
<script type="text/javascript" src="/js/Script.js"></script>
<script type="text/javascript" src="/js/sidebars.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
	integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
	<a class="nav-link link-light" aria-disabled="true">Bienvenido: Profesor</a>
	<div class="d-flex justify-content-end">
		<a class="btn btn-outline-dark link-light" th:href="@{/profesor/login}">Volver</a>&nbsp;
		<a class="btn btn-outline-danger"  th:href="@{/}"><i class="fa-solid fa-power-off"></i>&nbsp; Cerrar Sesión</a>
	</div>
</nav>

	<div class="container">
		<br>
		<br>
		<h1>Asistencia por Asignatura</h1>
		<h5>Filtra la asistencia por las asginaturas correspondientes al profesor</h5>
		<br>
		<br>	
		<div class="container">
			<form action="#" th:action="@{/filtrar}" th:object="${filtro}"
			method="post">
			<div class="row">
					<div class="col">
						<select class="form-select" name="filtroAsignatura">
							<option th:each="as : ${asignaturaSelect}" th:value="${as.id}"
								th:text="${as.nombre}" ></option>
						</select>
					</div>
					<div class="col">
						<input class="btn btn-success" type="submit" value="Filtrar" data-toggle="tooltip" data-placement="bottom" title="Filtrar asistencias de los Estudiantes por asignatura"> 
						<a th:href="@{/profesor/asistencia}" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="Refrescar lista"><i class="fa-solid fa-arrows-rotate"></i></a>
					</div>
					<div class="col"></div>
					<div class="col"></div>
					<div class="col"></div>				
			</div>
			</form>
		</div>			

		<br>
		<br>

		<table class="table table-hover text-center">
			<thead class="table table-primary">
				<tr>
					<th>#</th>
					<th>Fecha</th>
					<th>Estado</th>
					<th>Estudiante</th>
					<th>Rut</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="a : ${asistencias}">
					<td th:text="${a.id}"></td>
					<td th:text="${#calendars.format(a.fecha,'dd-MMMM-yyyy')}"></td>
					<td th:if="${a.estado} == True" th:text="PRESENTE"></td>
					<td th:if="${a.estado} == False" th:text="AUSENTE"></td>
					<td th:each="e : ${estudiantes}" th:if="${a.estudiante_id} == ${e.id}" th:text="${e.nombre} + ' ' + ${e.apaterno} + ' ' + ${e.amaterno}"></td>
					<td th:each="e : ${estudiantes}" th:if="${a.estudiante_id} == ${e.id}" th:text="${e.rut}"></td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<br><br><br>
	<br><br><br>

<div class="container">
	<div class="row">
		<div class="col">
			<select class="form-select">
				<option>1° Medio A</option>
				<option>2° Medio A</option>
			</select>
		</div>
		<div class="col">
			<select class="form-select">
				<option>Marzo</option>
				<option>Abril</option>
			</select>
		</div>
		<div class="col"></div>
		<div class="col"></div>
	</div>
</div>	
	
<div class="container text-center">
	<table class="table">
		<thead>
			<tr>
				<th>N°</th>
				<th>Estudiante</th>
				<th th:each="a : ${asistencias}" th:text="${#calendars.format(a.fecha,'dd-MMMM-yyyy')}"></th>
			</tr>
			
		</thead>
		<tbody>
			<tr th:each="e : ${estudiantes}">
				<td  th:text="${e.id}"></td>
				<td th:text="${e.nombre} + ' ' + ${e.apaterno} + ' ' + ${e.amaterno}"></td>
				<td th:each="a : ${asistencias}" th:if="${a.estado == True && a.estudiante_id == e.id}"><a class="btn btn-primary">P</a></td>
				<td th:each="a : ${asistencias}" th:if="${a.estado == False && a.estudiante_id == e.id}"><a class="btn btn-danger">A</a></td>
			</tr>
		</tbody>
	</table>
</div>
<div class="text-center">
	<button class="btn btn-primary btn-sm ">Presente</button>&nbsp;<button class="btn btn-danger btn-sm ">Ausente</button>
</div>

	<br><br><br>
	<br><br><br><br><br>
	

</body>
</html>