<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Libro de clases virtual School Life</title>
<link href="/css/Style.css" rel="stylesheet" type="text/css"
	crossorigin="anonymous" />
<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css"
	crossorigin="anonymous" />
<link href="/css/sidebars.css" rel="stylesheet" type="text/css"
	crossorigin="anonymous" />
<script type="text/javascript" src="/js/Script.js"></script>
<script type="text/javascript" src="/js/sidebars.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
	integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
	<a class="nav-link link-light" aria-disabled="true">Bienvenido: Profesor</a>
	<div class="d-flex justify-content-end">
		<a class="btn btn-outline-dark link-light" th:href="@{/profesor/login}">Volver</a>&nbsp;
		<a class="btn btn-outline-danger"  th:href="@{/}"><i class="fa-solid fa-power-off"></i>&nbsp; Cerrar Sesión</a>
	</div>
</nav>

<div class="container">

	<h1>Pasar Asistencia</h1>
	
	<h5>Seleccione el Curso y elije la Asignatura a tomar lista</h5>
	<form action="#" th:action="@{/filtrar/asignatura}" th:object="${filtro}" method="post">
		<select name="filtroAsignatura">
			<option th:each="c :${cursos}" th:value="${c.profesor_id}" th:text="${c.grado} + ' '  + ${c.seccion}"></option>
		</select>
		<input type="submit" class="btn btn-primary" value="Buscar">
	</form>
	<br>
	<table class="table table-hover">
	
		<thead class="table table-primary">
			<tr>
				<th>#</th>
				<th>Asignatura</th>
				<th>Seleccionar</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="a : ${asignaturas}">
				<td th:text="${a.id}"></td>
				<td th:text="${a.nombre}"></td>
				<td><a class="btn btn-danger">seleccionar</a></td>
			</tr>
		</tbody>
	
	</table>

</div>

</body>
</html>