<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Libro de clases online</title>
<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" crossorigin="anonymous" />
<link href="/css/sidebars.css" rel="stylesheet" type="text/css" crossorigin="anonymous" />
<script type="text/javascript" src="/js/sidebars.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
<link href="/css/estilos.css" rel="stylesheet" type="text/css" crossorigin="anonymous" />
</head>
<body class="pt-sans-regular">
<br><br>
<div class="container">
	<h1 class="display-3 fst-italic">Registro usuario</h1>
	<br><br>
	<div class="container border bounded shadow">
		<br><br>
		<form th:action="@{/registrar}" th:method="post" th:object="${usuario}">
			<div class="row">
			<div class="col">
				<label class="">Rut <span class="text-danger">(*)</span></label>
				<input class="form-control" th:field="*{rutUsuario}" type="text" id="rut" placeholder="Sin puntos, con guion">
				<span th:if="${#fields.hasErrors('rutUsuario')}" th:errors="*{rutUsuario}" class="text-danger">Error Rut</span>
				<span class="text-danger" th:if="${rutinvalido3} == True" th:text="'Rut Inválido.'"></span>	
				<span class="text-danger" th:if="${rutexiste3} == True" th:text="'el rut ya existe en el sistema, Rut Inválido.'"></span>
			</div>
			<div class="col">
				<label>Nombre <span class="text-danger">(*)</span></label>
				<input th:field="*{nombre}" class="form-control" id="nombre" type="text">
				<span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" class="text-danger">Error nombre</span>
			</div>
			<div class="col">
				<label>Apellido Paterno <span class="text-danger">(*)</span></label>
				<input th:field="*{apaterno}" class="form-control" type="text">
				<span th:if="${#fields.hasErrors('apaterno')}" th:errors="*{apaterno}" class="text-danger">Error Apellido Paterno</span>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col">
				<label>Apellido Materno <span class="text-danger">(*)</span></label>
				<input th:field="*{amaterno}" class="form-control" type="text">
				<span th:if="${#fields.hasErrors('amaterno')}" th:errors="*{amaterno}" class="text-danger">Error Apellido materno</span>
			</div>
			<div class="col">
				<label>Correo electrónico <span class="text-danger">(*)</span></label>
				<input th:field="*{correo}" class="form-control" type="email">
				<span th:if="${#fields.hasErrors('correo')}" th:errors="*{correo}" class="text-danger">Error Correo</span>
				<span class="text-danger" th:if="${correoexiste3} == True" th:text="'el correo ya existe en el sistema, correo inválido.'"></span>
			</div>
			<div class="col">
				<label>Teléfono <span class="text-danger">(*)</span></label>
				<input th:field="*{telefono}" class="form-control" type="text">
				<span th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}" class="text-danger">Error Teléfono</span>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col">
				<label>Fecha de nacimiento <span class="text-danger">(*)</span></label>
				<input id="fecha_nacimiento" th:field="*{fecha_nacimiento}"  class="form-control" type="date">
				<span th:if="${#fields.hasErrors('fecha_nacimiento')}" th:errors="*{fecha_nacimiento}" class="text-danger">Error Fecha nacimiento</span>
			</div>
			<div class="col">
				<label>Género <span class="text-danger">(*)</span></label>
				<select th:field="*{genero}" class="form-select">
					<option th:value="otro">OTRO</option>
					<option th:value="femenino">FEMENINO</option>
					<option th:value="masculino">MASCULINO</option>
				</select>
				<span th:if="${#fields.hasErrors('genero')}" th:errors="*{genero}" class="text-danger">Error genero</span>
			</div>
			<div class="col">
				<label>Estudios <span class="text-danger">(*)</span></label>
				<select th:field="*{estudios}" class="form-select">
					<option th:value="'BÁSICA INCOMPLETA'">BÁSICA INCOMPLETA</option>
					<option th:value="'BÁSICA COMPLETA'">BÁSICA COMPLETA</option>
					<option th:value="'MEDIA INCOMPLETA'">MEDIA INCOMPLETA</option>
					<option th:value="'MEDIA COMPLETA'">MEDIA COMPLETA</option>
					<option th:value="'TÉCNICA NIVEL SUPERIOR INCOMPLETA'">TÉCNICA NIVEL SUPERIOR INCOMPLETA</option>
					<option th:value="'TÉCNICA NIVEL SUPERIOR COMPLETA'">TÉCNICA NIVEL SUPERIOR COMPLETA</option>
					<option th:value="'PROFESIONAL INCOMPLETA'">PROFESIONAL INCOMPLETA</option>
					<option th:value="'PROFESIONAL COMPLETA'">PROFESIONAL COMPLETA</option>
					<option th:value="'POSGRADO/POSTÍTULOS'">POSGRADO/POSTÍTULOS</option>
				</select>
				<span th:if="${#fields.hasErrors('estudios')}" th:errors="*{estudios}" class="text-danger">Error estudios</span>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col">
				<label>Cargo <span class="text-danger">(*)</span></label>
				<select th:field="*{cargo}" class="form-select">
					<option th:value="'Kinesiologo(a)'">Kinesiologo(a)</option>
					<option th:value="'Fonoaudiologo(a)'">Fonoaudiologo(a)</option>
					<option th:value="'Terapeuta Ocupacional'">Terapeuta Ocupacional</option>
					<option th:value="'Psicopedagogo(a)'">Psicopedagogo(a)</option>
					<option th:value="'Psicólogo(a)'">Psicólogo(a)</option>
					<option th:value="'Profesor(a) de Educación Especial/Diferencial'">Profesor(a) de Educación Especial/Diferencial</option>
					<option th:value="'Encargado de informática'">Encargado de informática</option>
					<option th:value="'Jefe UTP'">Jefe UTP</option>
					<option th:value="'Orientador'">Orientador</option>
					<option th:value="'Equipo PIE'">Equipo PIE</option>
					<option th:value="'Educadora de Párvulos'">Educadora de Párvulos</option>
					<option th:value="'Docente'">Docente</option>
					<option th:value="'Director'">Director</option>
					<option th:value="'Coordinador'">Coordinador</option>
					<option th:value="'Asistente social'">Asistente social</option>
					<option th:value="'Educadora Diferencial'">Educadora Diferencial</option>
					<option th:value="'Médico'">Médico</option>
					<option th:value="'Rector'">Rector</option>
				</select>
				<span th:if="${#fields.hasErrors('cargo')}" th:errors="*{cargo}" class="text-danger">Error cargo</span>
			</div>
			<div class="col">
				<label>Rol <span class="text-danger">(*)</span></label><br>
				<select th:field="*{roles}" class="form-select">
					<option th:each="r : ${roles}" th:value="${r.id_rol}" th:text="${r.nombre}"></option>
				</select>
				<span th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}" class="text-danger">Error Roles</span>
			</div>
			<div class="col">
				<label>Establecimiento <span class="text-danger">(*)</span></label>
				<select th:field="*{establecimientoId}" class="form-select">
					<option th:each="e : ${establecimientos}" th:text="${e.nombre}" th:value="${e.rbd}"></option>
				</select>
				<span th:if="${#fields.hasErrors('establecimientoId')}" th:errors="*{establecimientoId}" class="text-danger">Error establecimiento</span>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col">
				<label>Contraseña <span class="text-danger">(*)</span></label>
				<input th:field="*{pass}" class="form-control" type="password">
				<span th:if="${#fields.hasErrors('pass')}" th:errors="*{pass}" class="text-danger">Error contraseña</span>
			</div>
			<div class="col">
			</div>
			<div class="col">
			<br>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col">
			</div>
			<div class="col">
			</div>
			<div class="col text-center">
				<a th:href="@{/usuario}" class="btn btn-danger shadow">Cancelar</a>
				<input type="submit" class="btn btn-success shadow" value="Registrar usuario">
			</div>
		</div>
		<br>
		<br>
		</form>
	</div>
</div>

</body>
</html>