<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Libro de clases online</title>
<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" crossorigin="anonymous" />
<link href="/css/sidebars.css" rel="stylesheet" type="text/css" crossorigin="anonymous" />
<script type="text/javascript" src="/js/sidebars.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
<link href="/css/estilos.css" rel="stylesheet" type="text/css" crossorigin="anonymous" />
</head>
<body class="pt-sans-regular">


	<nav class="navbar bg-dark border-bottom border-body"
		data-bs-theme="dark">
	<div>
		<a th:href="@{/}"  data-toggle="tooltip" data-placement="bottom" title="volver a inicio" class="btn btn-outline-light  border-dark" aria-disabled="true"><i class="fa-solid fa-house-chimney"></i></a> <span class="text-light" th:text="${establecimientoSesion.nombre}"></span>
	</div>

		<div class="d-flex justify-content-end">
			<a class="btn btn-outline-danger"  data-toggle="tooltip" data-placement="bottom" title="Presione para cerrar sesión" th:href="@{/cerrarSesion}"><i
				class="fa-solid fa-power-off"></i>&nbsp;Cerrar Sesión</a>
		</div>
	</nav>
	<br>
	 &nbsp;&nbsp;
	<a class="btn text-danger" th:href="@{/matricula}"><i
		class="fa-sharp fa-solid fa-chevron-left"></i>&nbsp; Matrículas</a>
	<br>
	<br>
<div class="container ">
<h1>Matrícula <span class="text-danger" th:text="'N° ' +${listaE.numero_matricula}"></span></h1>
<br>
<div class="text-end">
	<h5 th:text="${#calendars.format(listaE.fecha_matricula,'dd-MMMM-yyyy')}"></h5>
</div>

<div class="container">
<h2>Datos Personales</h2>
<br>
<div class="table-responsive">
<table class="table table-bordered text-center border rounded container shadow">
	<thead class="text-uppercase">
		<tr>
			<th>#</th>
			<th>Nombre</th>
			<th>Rut</th>
			<th>Fecha de nacimiento</th>
			<th>Género</th>
			<th>País de nacimiento</th>
			<th>Dirección</th>
			<th>Comuna</th>
			<th>Correo electrónico</th>
			<th>Teléfono fijo</th>
			<th>Celular</th>
			<th>Contacto de emergencia</th>
			<th>Teléfono Contacto de emergencia</th>
			<th>Vive con</th>
			<th>Cantidad computadores en casa</th>
			<th>Religión</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td th:text="${listaE.numero_matricula}"></td>
			<td th:text="${listaE.nombre} + ' ' + ${listaE.apaterno} + ' '+ ${listaE.amaterno}"></td>
			<td th:text="${listaE.runEstudiante}"></td>
			<td th:text="${#calendars.format(listaE.fecha_nacimiento,'dd-MMMM-yyyy')}"></td>
			<td th:text="${listaE.genero}"></td>
			<td th:text="${listaE.pais_nacimiento}"></td>
			<td th:text="${listaE.direccion}"></td>
			<td th:text="${listaE.comuna}"></td>
			<td th:text="${listaE.correo_electronico}"></td>
			<td th:text="${listaE.telefono}"></td>
			<td th:text="${listaE.celular}"></td>
			<td th:text="${listaE.nombre_contacto_emergencia}"></td>
			<td th:text="${listaE.telefono_emergencia}"></td>
			<td th:text="${listaE.vive_con}"></td>
			<td th:text="${listaE.cantidad_computadores_casa}"></td>
			<td th:text="${listaE.religion}"></td>
		</tr>
	</tbody>
</table>
<br>

	<table class="table table-bordered text-center border rounded container shadow">
	<thead class="text-uppercase">
		<tr>
			<th>Seguro escolar</th>
			<th>Nacionalidad</th>
			<th>Etnia</th>
			<th>Consultorio o clínica</th>
			<th>Es alumno PIE</th>
			<th>estado matrícula</th>
			<th>curso</th>
			<th>establecimiento</th>
			<th>observaciones</th>

		</tr>
	</thead>
	<tbody>
		<tr>
			<td th:text="${listaE.seguro_escolar_privado}"></td>
			<td th:text="${listaE.nacionalidad}"></td>
			<td th:text="${listaE.etnia}"></td>
			<td th:text="${listaE.consultorio_clinica}"></td>
			<td th:text="${listaE.es_pie}"></td>
			<td th:text="${listaE.estado}"></td>
			<td th:text="${listaE.curso_id}"></td>
			<td th:text="${listaE.establecimientoId}"></td>
			<td th:text="${listaE.observaciones}"></td>
		</tr>
	</tbody>
</table>
</div>

</div>

<br>
<div class="container">
<h2>Datos educación</h2>
	<table class="table table-bordered text-center border rounded container shadow">
		<thead class="text-uppercase">
			<tr>
				<th>Colegio de Procedencia</th>
				<th>Beca</th>
				<th>Acepta clases de religión</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td th:text="${listaE.colegio_procedencia}"></td>
				<td th:text="${listaE.beca}"></td>
				<td th:if="${listaE.acepta_clases_religion == True}" th:text="Acepta"></td>
				<td th:if="${listaE.acepta_clases_religion == False}" th:text="Rechaza"></td>
			</tr>
		</tbody>
	</table>
</div>

<div class="container table-responsive">
<h2>Datos Salud</h2>
	<table class="table table-bordered text-center border rounded container shadow">
		<thead class="text-uppercase">
			<tr>
				<th>Estatura</th>
				<th>Peso</th>
				<th>Alergias a alimentos</th>
				<th>Alergias a medicamentos</th>
				<th>Medicamentos contraindicados</th>
				<th>Grupo sanguineo</th>
				<th>Enfermedades crónicas</th>
				<th>Vacuna covid</th>
				<th>Cantidad Vacunas covid</th>
				<th>Esquema completo vacunas</th>
				<th>Fecha ultima vacuna</th>
				<th>Apto educación física</th>
				<th>Sistema previsión</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td th:text="${listaE.estatura}"></td>
				<td th:text="${listaE.peso}"></td>
				<td th:text="${listaE.alergias_alimentos}"></td>
				<td th:text="${listaE.alergias_medicamentos}"></td>
				<td th:text="${listaE.medicamentos_contraindicados}"></td>
				<td th:text="${listaE.grupo_sanguineo}"></td>
				<td th:text="${listaE.enfermedades_cronicas}"></td>
				<td th:text="${listaE.vacuna_covid}"></td>
				<td th:text="${listaE.cantidad_vacunas_covid}"></td>
				<td th:text="${listaE.esquema_completo_vacunacion_covid}"></td>
				<td th:text="${#calendars.format(listaE.fecha_ultima_vacuna_COVID,'dd-MMMM-yyyy')}"></td>
				<td th:text="${listaE.apto_educacion_fisica}"></td>
				<td th:text="${listaE.sistema_prevision}"></td>
			</tr>
		</tbody>
	</table>
</div>
<br>
<div class="container border rounded shadow">
	<br>
	<h2>Apoderado</h2>
	<br>
	<div class="row">
		<div class="col">
			<label class="text-uppercase "><strong>Nombre:</strong></label>&nbsp;<span th:text="${listaA[0].nombres} + ' ' + ${listaA[0].apaterno_apoderado}"></span>
		</div>
		<div class="col">
			<label class="text-uppercase "><strong>Rut: </strong></label>&nbsp;<span th:text="${listaA[0].run_apoderado}"></span>
		</div>
		<div class="col">
			<label class="text-uppercase "><strong>Parentesco:</strong></label>&nbsp;<span th:text="${listaA[0].parentesco}"></span>
		</div>
		<div class="col">
			<label class="text-uppercase "><strong>Tipo apoderado:</strong> </label>&nbsp;<span th:text="${listaA[0].tipo_apoderado}"></span>
		</div>
	</div>
	
	<div class="row">
		<div class="col">
			<label class="text-uppercase "><strong>Fecha Nacimiento:</strong> </label>&nbsp;<span th:text="${#calendars.format(listaA[0].fecha_nacimiento_apoderado,'dd-MMMM-yyyy')}"></span>
		</div>
		<div class="col">
			<label class="text-uppercase "><strong>Dirección:</strong> </label>&nbsp;<span th:text="${listaA[0].domicilio_apoderado}"></span>
		</div>
		<div class="col">
			<label class="text-uppercase "><strong>Comuna:</strong> </label>&nbsp;<span th:text="${listaA[0].comuna_apoderado}"></span>
		</div>
		<div class="col">
			<label class="text-uppercase "><strong>Nivel Educación:</strong> </label>&nbsp;<span th:text="${listaA[0].nivel_educacion}"></span>
		</div>
	</div>
	
	<div class="row">
		<div class="col">
			<label class="text-uppercase "><strong>Correo electrónico:</strong> </label>&nbsp;<span th:text="${listaA[0].correo_electronico_apoderado}"></span>
		</div>
		<div class="col">
			<label class="text-uppercase "><strong>Celular:</strong> </label>&nbsp;<span th:text="${listaA[0].celular_apoderado}"></span>
		</div>
		<div class="col">
			<label class="text-uppercase "><strong>Ocupación:</strong> </label>&nbsp;<span th:text="${listaA[0].ocupacion}"></span>
		</div>
		<div class="col">
			<label class="text-uppercase "><strong>Teléfono:</strong> </label>&nbsp;<span th:text="${listaA[0].telefono_apoderado}"></span>
		</div>
	</div>
	
	<div class="row">
		<div class="col">
			<label th:if="${listaA[0].es_tutor} == True" class="text-uppercase "><strong>Es tutor:</strong> </label>&nbsp;<span th:if="${listaA[0].es_tutor} == True">Si</span>
			<label th:if="${listaA[0].es_tutor} == False " class="text-uppercase "><strong>Es tutor:</strong> </label>&nbsp;<span th:if="${listaA[0].es_tutor} == False ">No</span>
		</div>
		<div class="col">
			<label class="text-uppercase "><strong>Estado Civil:</strong> </label>&nbsp;<span th:text="${listaA[0].estado_civil}"></span>
		</div>
		<div class="col">
			<label class="text-uppercase " th:if="${listaA[0].acepta_manual_convivencia_escolar} == True"><strong>Acepta manual de convivencia escolar:</strong></label><span th:if="${listaA[0].acepta_manual_convivencia_escolar} == True">Si</span>
			<label class="text-uppercase " th:if="${listaA[0].acepta_manual_convivencia_escolar} == False"><strong>Acepta manual de convivencia escolar:</strong> </label><span th:if="${listaA[0].acepta_manual_convivencia_escolar} == False">No</span>
		</div>
		<div class="col">	
			<label class="text-uppercase " th:if="${listaA[0].autorizacion_fotografia_grabacion} == True"><strong>Autoriza fotografia y grabación:</strong> </label>&nbsp;<span th:if="${listaA[0].autorizacion_fotografia_grabacion} == True">Si</span><br>
			<label class="text-uppercase " th:if="${listaA[0].autorizacion_fotografia_grabacion} == False"><strong>Autoriza fotografia y grabación:</strong> </label>&nbsp;<span th:if="${listaA[0].autorizacion_fotografia_grabacion} == False">No</span><br>
		</div>
	</div>
	
	<div class="row">
		<div class="col">
			<label class="text-uppercase " th:if="${listaA[0].autorizado_retirar_establecimiento} == True"><strong>Autorizado para retirar al estudiante del establecimiento:</strong> </label><span th:if="${listaA[0].autorizado_retirar_establecimiento} == True"  th:text="Si"></span><br>
			<label class="text-uppercase " th:if="${listaA[0].autorizado_retirar_establecimiento} == False"><strong>Autorizado para retirar al estudiante del establecimiento:</strong> </label><span th:if="${listaA[0].autorizado_retirar_establecimiento} == False"  th:text="No"></span><br>
		</div>
		<div class="col"></div>
		<div class="col"></div>
	</div>
	<br>
</div>
<br><br>


</div>
</body>
</html>