<!DOCTYPE html>
<html xmlns="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Libro de clases online</title>
<link rel="shortcut icon" href="/img/logo-daemhualpen.jpg" />
<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" crossorigin="anonymous" />
<!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" type="text/css" crossorigin="anonymous" /> -->
<link href="/css/sidebars.css" rel="stylesheet" type="text/css" crossorigin="anonymous" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
	integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
	
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>	
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700&display=swap" rel="stylesheet">
<link href="/css/estilos.css" rel="stylesheet" type="text/css" crossorigin="anonymous" />

<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.3/css/jquery.dataTables.css">

<!-- DataTables JS -->
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.3/js/jquery.dataTables.js"></script>
</head>
<body class="pt-sans-regular ">

<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
	<div>
		<a th:href="@{/}" class="btn btn-outline-light  border-dark" aria-disabled="true" data-toggle="tooltip" data-placement="bottom" title="Inicio"><i class="fa-solid fa-house-chimney"></i></a> <span  th:if="${uSesion.rolId != 3}" class="text-light" th:text="${establecimientoSesion.nombre}"></span>
		<span th:if="${uSesion.rolId} == 1" class="text-danger" th:text="'| Usuario: ' + ${uSesion.nombre} + ' | Rol: Administrador'"></span>
		<span th:if="${uSesion.rolId} == 2" class="text-danger" th:text="'| Usuario: ' + ${uSesion.nombre} + ' | Rol: Usuario'"></span>
		<span th:if="${uSesion.rolId} == 3" class="text-danger" th:text="'| Usuario: ' + ${uSesion.nombre} + ' | Rol: Super administrador'"></span>
		
	</div>
	
	<div class="d-flex justify-content-end">
		<a class="btn btn-outline-danger" th:href="@{/cerrarSesion}" data-toggle="tooltip" data-placement="bottom" title="Presione para cerrar la sesión"><i class="fa-solid fa-power-off"></i>&nbsp;Cerrar Sesión</a>
	</div>
</nav>
<br>
	<div class="col-md-4 mt-5">
		<div class="alert alert-success" th:if="${success} != null" th:text="${success}"></div>	
	</div>
	<div class="col-md-4 mt-5">
		<div class="alert alert-warning" th:if="${warning} != null" th:text="${warning}"></div>	
	</div>
<div class="container">
	<h1 class="pt-sans-regular"><span><a class="btn"  th:href="@{/}" data-toggle="tooltip" data-placement="bottom" title="Volver a inicio"><i class="fa-sharp fa-solid fa-chevron-left"></i></a></span> Usuarios</h1>
</div>
<br>
<div class="container">
<a class="btn btn-outline-dark" th:href="@{/registro}">Registrar usuario</a>
<br><br>
	<table id="tablacontenido" class="table table-hover bounded border text-center shadow">
		<thead>
			<tr>
				<th>Rut</th>
				<th>Nombre</th>
				<th>Correo</th>
				<th>Teléfono</th>
				<th>Género</th>
				<th>Fecha de nacimiento</th>
				<th>Estudios</th>
				<!-- <th>Rol</th> -->
				<th>Opciones</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="u : ${usuarios}">
				<td th:text="${u.rutUsuario}"></td>
				<td th:text="${u.nombre} + ' ' + ${u.apaterno} + ' '+ ${u.amaterno} "></td>
				<td th:text="${u.correo}"></td>
				<td th:text="${u.telefono}"></td>
				<td th:text="${u.genero}"></td>
				<td th:text="${u.fecha_nacimiento}"></td>
				<td th:text="${u.estudios}"></td>
				<!--  <td th:each="r : ${roles}" th:if="${r.id_rol} == ${u.roles[0].id_rol}" th:text="${r.nombre}"></td>-->
				<td>
					<a class="btn btn-info" th:href="@{/usuario/modificar/} + ${u.rutUsuario}" data-toggle="tooltip" data-placement="bottom" title="Editar usuario"><i class="fa-solid fa-user-pen"></i></a>
					<a class="btn btn-danger" data-toggle="modal" th:attr="data-target='#confirmDeleteModal_' +${u.rutUsuario}" data-placement="bottom" title="Eliminar usuario"><i class="fa-regular fa-trash-can"></i></a>
                       
                       <!-- Modal de confirmación -->
                        <div class="modal fade" th:id="'confirmDeleteModal_' + ${u.rutUsuario}" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" th:id="'confirmDeleteModalLabel_' + ${u.rutUsuario}">Confirmar Eliminación</h5>
                                    </div>
                                    <div class="modal-body">
                                        ¿Estás seguro de que deseas eliminar este usuario?
                                    </div>
                                    <div class="modal-footer">
                                    	<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                        <a th:href="@{/usuario/eliminar/} + ${u.rutUsuario}" class="btn btn-danger">Eliminar usuario</a>                                        
                                    </div>
                                </div>
                            </div>
                        </div>  
					
				</td>
			</tr>
		</tbody>
	</table>
</div>
<script>

	$(document).ready(function() {
	    $('#tablacontenido').DataTable({
	        "language": {
	            "decimal": "",
	            "emptyTable": "No hay datos disponibles en la tabla",
	            "info": "Mostrando _START_ a _END_ de _TOTAL_ entradas",
	            "infoEmpty": "Mostrando 0 a 0 de 0 entradas",
	            "infoFiltered": "(filtrado de _MAX_ entradas totales)",
	            "infoPostFix": "",
	            "thousands": ",",
	            "lengthMenu": "Mostrar _MENU_ entradas",
	            "loadingRecords": "Cargando...",
	            "processing": "Procesando...",
	            "search": "Buscar:",
	            "zeroRecords": "No se encontraron registros coincidentes",
	            "paginate": {
	                "first": "Primero",
	                "last": "Último",
	                "next": "Siguiente",
	                "previous": "Anterior"
	            },
	            "aria": {
	                "sortAscending": ": activar para ordenar la columna de manera ascendente",
	                "sortDescending": ": activar para ordenar la columna de manera descendente"
	            }
	        }
	    });
	});

</script>

</body>
</html>